@charset "UTF-8";
*,
*::after,
*::before {
  box-sizing: border-box;
}

blockquote,
body,
dd,
dl,
figcaption,
figure,
h1,
h2,
h3,
h4,
li,
ol,
p,
ul {
  margin: 0;
}

body {
  font-family: "helveticaneuecyr";
  font-weight: 400;
  color: #717171;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  overflow-x: hidden;
  height: 100%;
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

ol,
ul {
  padding: 0;
  list-style: none;
}

a {
  font-family: inherit;
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border: none;
}

button,
input,
select,
textarea {
  font-family: inherit;
}

@font-face {
  font-family: "BebasNeueBold";
  src: url("../fonts/BebasNeueBold/BebasNeueBold.eot");
  src: local("☺"), url("../fonts/BebasNeueBold/BebasNeueBold.woff") format("woff"), url("../fonts/BebasNeueBold/BebasNeueBold.ttf") format("truetype"), url("../fonts/BebasNeueBold/BebasNeueBold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BebasNeueRegular";
  src: url("../fonts/BebasNeueRegular/BebasNeueRegular.eot");
  src: local("☺"), url("../fonts/BebasNeueRegular/BebasNeueRegular.woff") format("woff"), url("../fonts/BebasNeueRegular/BebasNeueRegular.ttf") format("truetype"), url("../fonts/BebasNeueRegular/BebasNeueRegular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BebasNeueLight";
  src: url("../fonts/BebasNeueLight/BebasNeueLight.eot");
  src: local("☺"), url("../fonts/BebasNeueLight/BebasNeueLight.woff") format("woff"), url("../fonts/BebasNeueLight/BebasNeueLight.ttf") format("truetype"), url("../fonts/BebasNeueLight/BebasNeueLight.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SFProDisplay";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/SFProDisplay-Regular/SFProDisplay-Regular.woff2") format("woff2"), url("../fonts/SFProDisplay-Regular/SFProDisplay-Regular.woff2") format("woff"), url("../fonts/SFProDisplay-Regular/SFProDisplay-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "SFProDisplay";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/SFProDisplay-Medium/SFProDisplay-Medium.woff2") format("woff2"), url("../fonts/SFProDisplay-Medium/SFProDisplay-Medium.woff2") format("woff"), url("../fonts/SFProDisplay-Medium/SFProDisplay-Medium.ttf") format("ttf");
}

@font-face {
  font-family: "SFProDisplay";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/SFProDisplay-Semibold/SFProDisplay-Semibold.woff2") format("woff2"), url("../fonts/SFProDisplay-Semibold/SFProDisplay-Semibold.woff2") format("woff"), url("../fonts/SFProDisplay-Semibold/SFProDisplay-Semibold.ttf") format("ttf");
}

@font-face {
  font-family: "helveticaneuecyr";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/helveticaneuecyr-regular/helveticaneuecyr-regular.woff") format("woff"), url("../fonts/helveticaneuecyr-regular/helveticaneuecyr-regular.eot") format("eot"), url("../fonts/helveticaneuecyr-regular/helveticaneuecyr-regular.ttf") format("ttf");
}

@font-face {
  font-family: "helveticaneuecyr";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/helveticaneuecyr-medium/helveticaneuecyr-medium.woff") format("woff"), url("../fonts/helveticaneuecyr-medium/helveticaneuecyr-medium.eot") format("eot"), url("../fonts/helveticaneuecyr-medium/helveticaneuecyr-medium.ttf") format("ttf");
}

@font-face {
  font-family: "helveticaneuecyr";
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/HelveticaNeueCyr-Heavy/HelveticaNeueCyr-Heavy.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Heavy/HelveticaNeueCyr-Heavy.eot") format("eot"), url("../fonts/HelveticaNeueCyr-Heavy/HelveticaNeueCyr-Heavy.ttf") format("ttf");
}

@font-face {
  font-family: "TTNorms";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/TTNorms-Medium/TTNorms-Medium.woff2") format("woff2"), url("../fonts/TTNorms-Medium/TTNorms-Medium.woff2") format("woff"), url("../fonts/TTNorms-Medium/TTNorms-Medium.ttf") format("ttf");
}

@font-face {
  font-family: "TTNorms";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/TTNorms-Bold/TTNorms-Bold.woff2") format("woff2"), url("../fonts/TTNorms-Bold/TTNorms-Bold.woff2") format("woff"), url("../fonts/TTNorms-Bold/TTNorms-Bold.ttf") format("ttf");
}

@font-face {
  font-family: "TTNorms";
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/TTNorms-ExtraBold/TTNorms-ExtraBold.woff2") format("woff2"), url("../fonts/TTNorms-ExtraBold/TTNorms-ExtraBold.woff2") format("woff"), url("../fonts/TTNorms-ExtraBold/TTNorms-ExtraBold.ttf") format("ttf");
}

@font-face {
  font-family: "Gilroy-Heavy";
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Gilroy-Heavy/Gilroy-Heavy.woff") format("woff"), url("../fonts/Gilroy-Heavy/Gilroy-Heavy.eot") format("eot"), url("../fonts/Gilroy-Heavy/Gilroy-Heavy.ttf") format("ttf");
}

body {
  font-family: "SFProDisplay", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #717171;
}

@media (min-width: 1100px) {
  body {
    font-size: 18px;
    line-height: 28px;
  }
}

.visually-hidden {
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  position: absolute;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: rgba(0, 42, 131, 0.84);
}

@media (min-width: 1100px) {
  .main-title {
    font-size: 36px;
    line-height: 43px;
  }
}

.btn {
  border: 1px solid #ffef5a;
  display: block;
  color: #ffef5a;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
}

.btn-orange {
  background-color: #ffef5a;
  border-radius: 4px;
  display: block;
  color: rgba(0, 42, 131, 0.7);
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  text-transform: uppercase;
}

.swiper-button-prev,
.swiper-button-next {
  width: 17px;
  height: 32px;
  background-size: contain;
}

.swiper-button-prev {
  left: -15px;
}

@media (min-width: 1920px) {
  .swiper-button-prev {
    left: 0;
  }
}

.swiper-button-next {
  right: -15px;
}

@media (min-width: 1920px) {
  .swiper-button-next {
    right: 0;
  }
}

.logo {
  display: flex;
}

@media (min-width: 1100px) {
  .logo {
    align-items: center;
  }
}

.logo__img {
  width: 60px;
  height: 62px;
  margin-right: 10px;
}

@media (min-width: 1100px) {
  .logo__img {
    width: 100px;
    height: 103px;
    margin-right: 16px;
  }
}

.logo__title {
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  color: #ffef5a;
  text-transform: uppercase;
  max-width: 126px;
}

@media (min-width: 1100px) {
  .logo__title {
    font-size: 14px;
    line-height: 17px;
    max-width: 156px;
  }
}

.logo__title span {
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  font-family: "Gilroy-Heavy";
  display: block;
}

@media (min-width: 1100px) {
  .logo__title span {
    font-size: 32px;
    line-height: 39px;
  }
}

.header {
  position: relative;
}

@media (min-width: 1100px) {
  .header {
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../img/header-banner.jpg");
    background-size: cover;
  }
}

@media (min-width: 1100px) and (min-width: 1400px) {
  .header::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-image: url("../img/bg-blue.png");
    width: 100%;
    height: 555px;
  }
  .header::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-image: url("../img/bg-white.png");
    width: 100%;
    height: 276px;
  }
}

@media (min-width: 1100px) {
  .header-inner {
    background: linear-gradient(105.81deg, rgba(2, 43, 132, 0.75) 25.87%, rgba(29, 56, 115, 0.49) 62.03%, rgba(2, 43, 132, 0.77) 103.88%);
  }
}

.header-block-inner_none::after {
  display: none;
}

.mobile-block {
  width: 100%;
  padding: 10px 16px;
  background-color: #022b84;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 1100px) {
  .mobile-block {
    display: none;
  }
}

.mobile-block button {
  background-color: transparent;
  background-image: url("../img/burger.png");
  background-position: center;
  background-repeat: no-repeat;
  font-size: 0;
  width: 24px;
  height: 24px;
}

.mobile-block .active {
  background-image: url("../img/close.png");
}

.mobile-block .number {
  color: #ffffff;
  font-size: 24px;
  line-height: 24px;
  font-family: "BebasNeueBold";
}

.mobile-block .call {
  font-size: 0;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-image: url("../img/call.png");
  width: 24px;
  height: 24px;
}

.header-block {
  display: none;
  position: absolute;
  top: 40px;
  left: 0;
  z-index: 1;
}

@media (min-width: 1100px) {
  .header-block {
    display: block;
    position: relative;
    top: 0;
  }
}

.header-block-inner {
  background-color: #022b84;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  width: 320px;
  padding-top: 20px;
  padding-right: 16px;
  padding-left: 16px;
  padding-bottom: 37px;
}

@media (min-width: 1100px) {
  .header-block-inner {
    width: 100%;
    padding-bottom: 10px;
    background: none;
  }
}

@media (min-width: 1600px) {
  .header-block-inner {
    padding-left: 36px;
    padding-right: 24px;
  }
  .header-block-inner::after {
    content: "";
    position: absolute;
    top: 312px;
    right: 0%;
    z-index: -1;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-image: url("../img/production.png");
    width: 368px;
    height: 303px;
  }
}

@media (min-width: 1600px) and (min-width: 1700px) {
  .header-block-inner::after {
    right: 3%;
  }
}

@media (min-width: 1600px) and (min-width: 1920px) {
  .header-block-inner::after {
    right: 7%;
  }
}

.header-block-inner .country {
  display: none;
}

@media (min-width: 1100px) {
  .header-block-inner .country {
    display: block;
    margin-top: 40px;
    margin-right: 14px;
  }
}

.header-block .logo__img {
  width: 60px;
  height: 62px;
  margin-right: 10px;
}

@media (min-width: 1100px) {
  .header-block .logo__img {
    width: 100px;
    height: 103px;
    margin-right: 16px;
  }
}

@media (min-width: 1100px) {
  .header-block .logo {
    align-items: flex-start;
  }
}

@media (min-width: 1600px) {
  .header-block .logo {
    order: -1;
    margin-right: 0px;
  }
}

.header-block .logo__title {
  font-size: 10px;
  line-height: 12px;
  margin-top: 3px;
}

@media (min-width: 1100px) {
  .header-block .logo__title {
    font-size: 14px;
    line-height: 17px;
    margin-top: 20px;
  }
}

.header-block .logo__title span {
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 2px;
}

@media (min-width: 1100px) {
  .header-block .logo__title span {
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 0;
  }
}

.header-block .cart {
  margin-right: 12px;
}

@media (min-width: 1100px) {
  .header-block .cart {
    margin-right: 90px;
    margin-left: auto;
  }
}

@media (min-width: 1600px) {
  .header-block .cart {
    margin-right: 30px;
    margin-left: 0;
  }
}

.cart {
  position: relative;
  background-color: #072669;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 50px;
  height: 50px;
}

@media (min-width: 1100px) {
  .cart {
    width: auto;
    padding-top: 12px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 27px;
    background: rgba(2, 43, 132, 0.42);
  }
}

.cart .price {
  display: none;
}

@media (min-width: 1100px) {
  .cart .price {
    display: flex;
    color: #ffffff;
    font-family: "BebasNeueBold";
    font-size: 20px;
  }
}

@media (min-width: 1100px) {
  .cart__price {
    font-size: 34px;
    color: #ffffff;
    padding-right: 5px;
  }
}

@media (min-width: 1100px) {
  .cart .cart__img {
    margin-right: 23px;
  }
}

.cart span {
  position: absolute;
  top: -10px;
  right: -19px;
  background-color: #ffef5a;
  border: 4px solid #81a8cb;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 30px;
  min-width: 30px;
  color: rgba(0, 42, 131, 0.84);
  font-size: 18px;
  font-family: "BebasNeueBold";
  text-align: center;
}

@media (min-width: 1100px) {
  .cart span {
    min-width: 48px;
    min-height: 40px;
    font-size: 24px;
    line-height: 40px;
    right: -28px;
  }
}

.header-nav {
  margin-top: 40px;
  margin-bottom: 58px;
}

@media (min-width: 1100px) {
  .header-nav {
    order: 1;
    margin-top: -30px;
    margin-bottom: 0;
  }
}

@media (min-width: 1600px) {
  .header-nav {
    order: -1;
    margin-top: 10px;
  }
}

.header-nav ul {
  display: flex;
  flex-wrap: wrap;
}

.header-nav li {
  margin-right: 20px;
}

@media (min-width: 1600px) {
  .header-nav li {
    margin: 0;
  }
}

@media (min-width: 1920px) {
  .header-nav li {
    margin-right: 20px;
  }
}

.header-nav a {
  color: #ffef5a;
  font-weight: 600;
  font-size: 16px;
  display: inline-block;
  padding: 8px 16px;
}

.header-nav a:hover {
  background: rgba(55, 95, 180, 0.42);
  border-radius: 2px;
}

@media (min-width: 1100px) {
  .header-nav a:hover {
    background: rgba(2, 43, 132, 0.42);
  }
}

.call-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

@media (min-width: 1100px) {
  .call-block {
    width: auto;
    align-items: flex-end;
  }
}

.call-block .number {
  font-size: 34px;
  font-family: "BebasNeueBold";
  color: #ffffff;
  display: block;
  margin-bottom: 18px;
}

.call-block .btn {
  width: 171px;
  height: 44px;
  margin: 0 auto;
  line-height: 44px;
  cursor: pointer;
}

@media (min-width: 1100px) {
  .call-block .btn {
    margin: 0;
  }
}

.call-block p {
  font-size: 16px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 18px;
}

.header-bottom {
  background-image: linear-gradient(180deg, rgba(23, 49, 105, 0.88) 8.09%, rgba(2, 43, 132, 0.17) 99.99%), url("../img/header-banner.jpg");
  background-position: 0 0, -650px 0;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 24px;
}

@media (min-width: 500px) {
  .header-bottom {
    background-position: 0 0, -500px 0;
  }
}

@media (min-width: 640px) {
  .header-bottom {
    background-position: 0 0, center 0;
  }
}

@media (min-width: 1100px) {
  .header-bottom {
    background: none;
    position: relative;
    z-index: 3;
  }
}

@media (min-width: 1600px) {
  .header-bottom {
    padding-left: 90px;
    margin-top: -27px;
  }
}

.header-bottom-top {
  display: flex;
  justify-content: space-between;
  padding: 16px 28px 10px 16px;
}

@media (min-width: 1100px) {
  .header-bottom-top {
    display: none;
  }
}

.header-bottom-top .cart {
  background: rgba(2, 43, 132, 0.42);
  border-radius: 4px;
}

.header-bottom-middle {
  padding-right: 16px;
  margin-left: 16px;
}

@media (min-width: 1100px) {
  .header-bottom-middle {
    display: flex;
  }
  .header-bottom-middle div:first-child {
    margin-right: 31px;
  }
}

.header-bottom-middle h1 {
  font-size: 30px;
  line-height: 35px;
  color: #ffffff;
  text-align: center;
  font-weight: 500;
  margin-bottom: 12px;
}

@media (min-width: 1100px) {
  .header-bottom-middle h1 {
    font-weight: 600;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    max-width: 690px;
    margin-bottom: 25px;
  }
}

.header-bottom-middle h2 {
  color: #ffef5a;
  text-transform: uppercase;
  text-align: center;
  font-size: 26px;
  margin-bottom: 15px;
}

@media (min-width: 1100px) {
  .header-bottom-middle h2 {
    font-size: 64px;
    margin-bottom: 70px;
    text-align: left;
  }
}

.header-bottom-img {
  text-align: center;
  margin-bottom: 10px;
}

.header-bottom-description {
  max-width: 244px;
  margin: 0 auto;
  margin-bottom: 22px;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
}

@media (min-width: 1100px) {
  .header-bottom-bottom {
    padding-left: 16px;
    padding-bottom: 247px;
    display: flex;
    align-items: flex-start;
  }
}

.header-bottom-bottom span {
  display: none;
}

@media (min-width: 1100px) {
  .header-bottom-bottom span {
    display: block;
    background: #ffef5a;
    border-radius: 10px 10px 10px 0px;
    position: relative;
    padding: 13px 16px;
    margin-top: -40px;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    color: rgba(169, 186, 223, 0.84);
  }
  .header-bottom-bottom span::before {
    content: "";
    position: absolute;
    bottom: -27px;
    left: 0;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-image: url("../img/hv.png");
    width: 48px;
    height: 28px;
  }
  .header-bottom-bottom span::after {
    content: "";
    position: absolute;
    top: 110px;
    left: -46px;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-image: url("../img/oildroplet.png");
    width: 97px;
    height: 156px;
  }
}

.header-bottom-bottom .btn-orange {
  max-width: 288px;
  margin: 0 auto;
  height: 70px;
  text-align: center;
  line-height: 70px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
}

@media (min-width: 1100px) {
  .header-bottom-bottom .btn-orange {
    margin: 0;
    width: 100%;
    margin-right: 148px;
    max-width: 368px;
    height: 92px;
    line-height: 92px;
  }
}

.oil {
  padding: 0 16px;
  margin-bottom: 34px;
  margin-top: 25px;
}

@media (min-width: 1100px) {
  .oil {
    margin-bottom: 77px;
    margin-top: 0;
  }
}

@media (min-width: 1920px) {
  .oil {
    padding: 0;
  }
}

.oil h2 {
  margin-bottom: 16px;
}

.oil-block {
  position: relative;
  max-width: 1860px;
  margin: 0 auto;
  margin-left: -16px;
  margin-right: -16px;
}

@media (min-width: 1280px) {
  .oil-block {
    margin: 0 auto;
  }
}

.oil-slider {
  max-width: 1720px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
  overflow: hidden;
}

.oil-block .swiper-button-prev,
.oil-block .swiper-button-next,
.oil-block .swiper-pagination {
  display: none;
}

@media (min-width: 1100px) {
  .oil-block .swiper-button-prev,
  .oil-block .swiper-button-next,
  .oil-block .swiper-pagination {
    display: block;
  }
}

.oil-block .swiper-button-prev,
.oil-block .swiper-button-next {
  width: 17px;
  height: 32px;
  background-size: contain;
}

@media (min-width: 1280px) {
  .oil-block .swiper-button-prev {
    left: 10px;
  }
}

@media (min-width: 1400px) {
  .oil-block .swiper-button-prev {
    left: 0;
  }
}

@media (min-width: 1280px) {
  .oil-block .swiper-button-next {
    right: 10px;
  }
}

@media (min-width: 1400px) {
  .oil-block .swiper-button-next {
    right: 0;
  }
}

.oil-block .swiper-pagination {
  left: 50%;
  transform: translateX(-50%);
}

.oil-block .swiper-pagination-bullet {
  height: 14px;
  width: 14px;
  margin-right: 36px;
  opacity: 1;
  background: #e5e5e5;
}

.oil-block .swiper-pagination-bullet-active {
  background-color: #ffd43a;
}

.oil-description {
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #717171;
  font-family: "helveticaneuecyr";
  margin-bottom: 24px;
}

@media (min-width: 1100px) {
  .oil-description {
    margin-bottom: 36px;
  }
}

@media (min-width: 1280px) {
  .oil-description {
    margin-left: 100px;
  }
}

.oil-slider .swiper-wrapper {
  flex-wrap: wrap;
}

@media (min-width: 768px) {
  .oil-slider .swiper-wrapper {
    justify-content: space-around;
  }
}

@media (min-width: 1100px) {
  .oil-slider .swiper-wrapper {
    flex-wrap: nowrap;
  }
}

@media (min-width: 1280px) {
  .oil-slider .swiper-wrapper {
    justify-content: flex-start;
  }
}

.oil-slider .swiper-slide {
  margin-bottom: 30px;
}

.oil-slider .swiper-slide:last-child {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .oil-slider .swiper-slide {
    width: 48%;
  }
}

@media (min-width: 1100px) {
  .oil-slider .swiper-slide {
    width: 34%;
  }
}

.oil-item {
  box-shadow: 2px 6px 15px rgba(56, 55, 121, 0.19);
  border-radius: 10px;
  padding: 23px 13px 17px;
  max-width: 350px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 20px;
}

@media (min-width: 1400px) {
  .oil-item {
    max-width: 425px;
  }
}

@media (min-width: 1600px) {
  .oil-item {
    max-width: 480px;
    padding: 35px 42px 44px 42px;
  }
}

.oil-item h3 {
  text-align: center;
  position: relative;
  margin-bottom: 25px;
}

@media (min-width: 1100px) {
  .oil-item h3 {
    margin-bottom: 34px;
  }
}

.oil-item h3 a {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: rgba(0, 42, 131, 0.84);
  border-bottom: 1px dashed rgba(0, 42, 131, 0.84);
}

@media (min-width: 1100px) {
  .oil-item h3 a {
    font-size: 24px;
    line-height: 35px;
  }
}

.oil-item__img {
  position: relative;
  margin-bottom: 12px;
  display: flex;
  justify-content: center;
}

@media (min-width: 768px) {
  .oil-item__img {
    height: 298px;
  }
}

@media (min-width: 1100px) {
  .oil-item__img {
    margin-bottom: 21px;
  }
}

@media (min-width: 1400px) {
  .oil-item__img {
    height: auto;
  }
}

.oil-item__img span {
  position: absolute;
  right: 0;
  bottom: 38px;
  background: #ffef5a;
  border-radius: 10px 10px 10px 0px;
  padding: 13px 18px;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: rgba(169, 186, 223, 0.84);
}

.oil-item__img span::before {
  content: "";
  position: absolute;
  bottom: -26px;
  left: 0;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-image: url("../img/hv.png");
  width: 48px;
  height: 28px;
}

.oil-item-one {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 18px;
}

@media (min-width: 1400px) {
  .oil-item-one {
    justify-content: center;
    margin-bottom: 22px;
  }
}

.oil-item-one ul {
  display: flex;
  margin-right: 16px;
}

@media (min-width: 1400px) {
  .oil-item-one ul {
    margin-right: 34px;
  }
}

.oil-item-one li:last-child span {
  background: none;
}

.oil-item-one li {
  margin-right: 5px;
}

.oil-item-one li:last-child {
  margin-right: 0;
}

.oil-item-one li:nth-child(5) span {
  background-image: url("../img/star-grey.png");
}

.oil-item-one li span {
  background-position: 0 0;
  background-repeat: no-repeat;
  background-image: url("../img/star-yellow.png");
  display: block;
  width: 20px;
  height: 20px;
  font-size: 20px;
  line-height: 24px;
  color: #727272;
}

.oil-item-one a {
  padding-left: 30px;
  position: relative;
}

.oil-item-one a::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-image: url("../img/like-icon.png");
  background-size: cover;
  width: 24px;
  height: 24px;
}

.oil-item-one a span {
  color: #727272;
  font-size: 20px;
  line-height: 24px;
  border-bottom: 1px dashed #727272;
}

.oil-item-two {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #727272;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 23px;
}

@media (min-width: 1400px) {
  .oil-item-two {
    font-size: 20px;
  }
}

.oil-item-two p {
  position: relative;
}

.oil-item-two p:first-child {
  padding-left: 27px;
}

.oil-item-two p:first-child::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-image: url("../img/milk-icon.png");
  background-size: cover;
  width: 24px;
  height: 24px;
}

.oil-item-two p:last-child {
  max-width: 100px;
  padding-left: 23px;
}

.oil-item-two p:last-child::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-image: url("../img/oil-icon.png");
  background-size: cover;
  width: 14px;
  height: 24px;
}

@media (min-width: 1400px) {
  .oil-item-two p:last-child {
    max-width: none;
  }
}

.oil-item-three {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  margin-bottom: 21px;
}

@media (min-width: 1400px) {
  .oil-item-three {
    justify-content: flex-start;
    margin-bottom: 26px;
  }
}

@media (min-width: 1400px) {
  .oil-item-three div:last-child {
    display: flex;
  }
}

.oil-item-three .title {
  color: #4b4b4b;
  font-size: 20px;
  line-height: 24px;
  padding-right: 11px;
}

.oil-item .btn-orange {
  max-width: 260px;
  height: 70px;
  margin: 0 auto;
  line-height: 70px;
  text-align: center;
}

@media (min-width: 1400px) {
  .oil-item .btn-orange {
    max-width: 410px;
    height: 92px;
    line-height: 92px;
  }
}

.oil-item .old-price {
  color: rgba(2, 43, 132, 0.42);
  font-size: 28px;
  font-weight: bold;
  position: relative;
}

.oil-item .old-price::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  width: 100%;
  height: 4px;
  background-color: rgba(169, 186, 223, 0.84);
}

.oil-item .old-price span:last-child {
  font-size: 20px;
}

@media (min-width: 1400px) {
  .oil-item .old-price {
    font-size: 28px;
    order: 1;
  }
}

.oil-item .new-price {
  color: #da0025;
  font-size: 28px;
  font-weight: 800;
}

.oil-item .new-price span:last-child {
  font-size: 20px;
}

@media (min-width: 1400px) {
  .oil-item .new-price {
    font-size: 34px;
    margin-right: 14px;
  }
}

.why {
  padding-left: 19px;
  margin-bottom: 35px;
}

@media (min-width: 1100px) {
  .why {
    margin-bottom: 66px;
  }
}

@media (min-width: 1600px) {
  .why {
    padding-left: 0;
  }
}

.why h2 {
  margin-bottom: 20px;
}

.why-fish-block {
  max-width: 1248px;
  width: 100%;
  overflow: auto;
  margin: 0 auto;
  margin-bottom: 30px;
}

@media (min-width: 1280px) {
  .why-fish-block {
    overflow: hidden;
  }
}

@media (min-width: 1600px) {
  .why-fish-block {
    max-width: 1390px;
  }
}

.why-fish-inner {
  width: 970px;
  margin-left: 100px;
  margin-top: 30px;
  margin-bottom: 21px;
  position: relative;
}

@media (min-width: 1100px) {
  .why-fish-inner {
    margin-bottom: 64px;
  }
}

@media (min-width: 1600px) {
  .why-fish-inner {
    width: 1104px;
  }
}

.why-fish-inner::before {
  content: "";
  position: absolute;
  bottom: -19px;
  left: -97px;
  z-index: -1;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-image: url("../img/fish.png");
  width: 222px;
  height: 125px;
}

.why-fish-inner::after {
  content: "";
  position: absolute;
  bottom: 0px;
  right: -180px;
  z-index: -1;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-image: url("../img/fishback.png");
  background-size: cover;
  width: 285px;
  height: 84px;
}

.why-fish-inner div {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 37px;
  padding-right: 19px;
  display: flex;
  align-items: center;
  background-color: #ffef5a;
}

.why-fish-inner p {
  color: #ff2c4f;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  width: 720px;
  margin-right: 52px;
}

@media (min-width: 1600px) {
  .why-fish-inner p {
    width: 868px;
  }
}

.why-fish-inner span {
  color: rgba(169, 186, 223, 0.84);
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
}

.why-list {
  max-width: 270px;
  margin: 0 auto;
  margin-bottom: 35px;
}

@media (min-width: 600px) {
  .why-list {
    max-width: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media (min-width: 768px) {
  .why-list {
    justify-content: space-around;
  }
}

@media (min-width: 1100px) {
  .why-list {
    display: block;
    column-count: 3;
    padding-right: 16px;
  }
}

@media (min-width: 1600px) {
  .why-list {
    padding-left: 100px;
    padding-right: 100px;
  }
}

.why-list li {
  margin-bottom: 25px;
  padding-left: 22px;
  position: relative;
}

@media (min-width: 600px) {
  .why-list li {
    width: 45%;
  }
}

@media (min-width: 768px) {
  .why-list li {
    width: 36%;
  }
}

@media (min-width: 1100px) {
  .why-list li {
    width: auto;
    margin-bottom: 40px;
  }
}

@media (min-width: 1100px) {
  .why-list li {
    min-height: 48px;
  }
}

.why-list li::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 0;
  background-color: #ff2c4f;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

.why-list li:last-child {
  margin-bottom: 0;
}

.why-list .hide {
  display: none;
}

@media (min-width: 1100px) {
  .why-list .hide {
    display: block;
  }
}

.why-list p {
  max-width: 249px;
  color: #727272;
  font-size: 18px;
  line-height: 21px;
}

@media (min-width: 1100px) {
  .why-list p {
    font-size: 20px;
    line-height: 24px;
    max-width: none;
  }
}

.why-description {
  color: #717171;
  font-size: 16px;
  line-height: 22px;
  font-family: "helveticaneuecyr";
  font-weight: normal;
  padding-right: 16px;
  max-width: 1664px;
}

@media (min-width: 1100px) {
  .why-description {
    font-size: 18px;
    line-height: 28px;
  }
}

@media (min-width: 1600px) {
  .why-description {
    padding-left: 100px;
  }
}

@media (min-width: 1100px) {
  .why-description .show {
    display: none;
  }
}

.why-description a {
  color: #3d65ba;
  border-bottom: 1px solid #3d65ba;
  cursor: pointer;
}

.why-description .hide {
  display: none;
}

@media (min-width: 1100px) {
  .why-description .hide {
    display: inline;
  }
}

.why-description .show-text {
  display: inline;
}

.advantages {
  color: #ffffff;
  background-position: 0 0, -145px 0;
  background-repeat: no-repeat;
  background-image: linear-gradient(360deg, rgba(0, 42, 131, 0.59) 18.37%, rgba(0, 42, 131, 0) 113.43%), url("../img/adv-img.jpg");
  background-size: cover;
  padding-bottom: 44px;
  padding-top: 28px;
  padding-right: 18px;
  padding-left: 18px;
}

@media (min-width: 1280px) {
  .advantages {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 60px;
    padding-bottom: 60px;
    background-image: url("../img/adv-img2.jpg");
  }
}

@media (min-width: 1600px) {
  .advantages {
    padding-left: 100px;
    padding-right: 100px;
  }
}

.advantages-block {
  margin-bottom: 130px;
}

@media (min-width: 1280px) {
  .advantages-block {
    margin-bottom: 384px;
    display: flex;
    justify-content: space-between;
  }
}

.advantages h2 {
  font-size: 24px;
  line-height: 29px;
  font-weight: normal;
  text-align: center;
}

@media (min-width: 1100px) {
  .advantages h2 {
    font-size: 40px;
    line-height: 60px;
    text-align: left;
  }
}

@media (min-width: 1280px) {
  .advantages h2 {
    margin-top: 15px;
  }
}

@media (min-width: 1600px) {
  .advantages h2 {
    font-size: 50px;
  }
}

.advantages-logo {
  display: none;
}

@media (min-width: 1280px) {
  .advantages-logo {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}

@media (min-width: 1280px) {
  .advantages-logo .logo__subject {
    background: #ffef5a;
    border-radius: 10px 10px 10px 0px;
    position: relative;
    padding: 13px 16px;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    color: rgba(169, 186, 223, 0.84);
  }
  .advantages-logo .logo__subject::before {
    content: "";
    position: absolute;
    bottom: -28px;
    left: 0;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-image: url("../img/hv.png");
    width: 48px;
    height: 28px;
  }
  .advantages-logo .logo__subject::after {
    content: "";
    position: absolute;
    top: 105px;
    left: -45px;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-image: url("../img/oildroplet.png");
    width: 97px;
    height: 156px;
  }
}

.advantages-swiper-block {
  position: relative;
}

@media (min-width: 1280px) {
  .advantages-swiper-block .swiper-slide {
    width: 25%;
  }
}

.advantages-swiper-block .swiper-pagination {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

@media (min-width: 1280px) {
  .advantages-swiper-block .swiper-pagination {
    display: none;
  }
}

.advantages-swiper-block .swiper-pagination-bullet {
  margin-right: 30px;
  width: 10px;
  height: 10px;
  background: #e5e5e5;
  opacity: 1;
}

.advantages-swiper-block .swiper-pagination-bullet:last-child {
  margin-right: 0;
}

.advantages-swiper-block .swiper-pagination-bullet-active {
  background: #ffd43a;
}

.advantages-swiper-block .swiper-button-prev,
.advantages-swiper-block .swiper-button-next {
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: contain;
  width: 17px;
  height: 32px;
  top: 20%;
}

@media (min-width: 1280px) {
  .advantages-swiper-block .swiper-button-prev,
  .advantages-swiper-block .swiper-button-next {
    display: none;
  }
}

.advantages-swiper-block .swiper-button-prev {
  background-image: url("../img/arrow-prev.png");
  left: 5px;
}

.advantages-swiper-block .swiper-button-next {
  background-image: url("../img/arrow-next.png");
  right: 5px;
}

.advantages-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advantages-swiper-img {
  margin-bottom: 37px;
  display: block;
}

.advantages-item h3 {
  color: #ffef5a;
  text-align: center;
  font-weight: 600;
  font-size: 26px;
  line-height: 31px;
  margin-bottom: 20px;
}

.advantages-swiper-description {
  text-align: center;
  font-size: 18px;
  line-height: 25px;
  max-width: 272px;
  margin: 0 auto;
  margin-bottom: 88px;
}

@media (min-width: 1280px) {
  .advantages-swiper-description {
    margin-bottom: 0;
  }
}

.transportation {
  padding: 44px 22px 46px;
}

.transportation .main-title {
  max-width: 238px;
  margin: 0 auto;
  margin-bottom: 52px;
}

@media (min-width: 1100px) {
  .transportation .main-title {
    max-width: none;
    margin-bottom: 70px;
  }
}

.transportation__list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 600px) {
  .transportation__list {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
  }
}

@media (min-width: 1400px) {
  .transportation__list {
    max-width: 1280px;
    margin: 0 auto;
  }
}

.transportation-up {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.transportation__item {
  margin-bottom: 32px;
  position: relative;
}

.transportation__item:last-child {
  margin-bottom: 0;
}

@media (min-width: 600px) {
  .transportation__item {
    width: 50%;
  }
}

@media (min-width: 1100px) {
  .transportation__item {
    width: 33%;
  }
}

@media (min-width: 1400px) {
  .transportation__item {
    width: 26%;
    margin-bottom: 99px;
  }
}

.transportation-up {
  position: relative;
  margin-bottom: 28px;
}

.transportation-up span {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #fee10c;
  color: #43386b;
  font-size: 50px;
  font-family: "BebasNeueBold";
  line-height: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (min-width: 1400px) {
  .transportation__item_one .transportation-up span {
    top: 100px;
  }
}

.transportation__item_two .transportation-up span {
  top: 75px;
  background: #ffef5a;
}

@media (min-width: 1400px) {
  .transportation__item_two .transportation-up span {
    top: 100px;
  }
}

@media (min-width: 1400px) {
  .transportation__item_three .transportation-up span {
    top: 100px;
  }
}

.transportation__item_four .transportation-up span {
  top: 95px;
}

@media (min-width: 1400px) {
  .transportation__item_four .transportation-up span {
    top: 108px;
  }
}

.transportation__item_five .transportation-up {
  max-width: 285px;
  margin: 0 auto;
}

@media (min-width: 1400px) {
  .transportation__item_five .transportation-up {
    height: 288px;
    margin-bottom: 28px;
  }
}

.transportation__item_five .transportation-up span {
  top: 120px;
  left: 180px;
}

@media (min-width: 1400px) {
  .transportation__item_five .transportation-up span {
    top: 108px;
    left: 170px;
  }
}

@media (min-width: 1400px) {
  .transportation__item_six .transportation-up span {
    top: 118px;
  }
}

.transportation-down {
  font-size: 16px;
  line-height: 25px;
  color: #727272;
  text-align: center;
}

@media (min-width: 1400px) {
  .transportation-down {
    max-width: 300px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 30px;
  }
}

@media (min-width: 1400px) {
  .transportation__img {
    height: 288px;
  }
}

.transportation__img_one {
  width: 260px;
}

@media (min-width: 1400px) {
  .transportation__img_one {
    width: 400px;
  }
}

.transportation__img_two {
  width: 260px;
}

@media (min-width: 1400px) {
  .transportation__img_two {
    width: 280px;
  }
}

.transportation__img_three {
  width: 210px;
}

.transportation__img_four {
  width: 203px;
}

.transportation__img_five {
  width: 285px;
}

.transportation__img_six {
  width: 260px;
}

@media (min-width: 1400px) {
  .transportation__img_six {
    width: 308px;
  }
}

.vitamin {
  position: absolute;
  top: 20px;
  left: 10px;
  background: radial-gradient(50% 50% at 50% 50%, #ff4757 0%, rgba(255, 71, 87, 0.84) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 68px;
  height: 68px;
  color: #ffffff;
  font-size: 50px;
  font-family: "BebasNeueBold";
}

.cargo {
  font-size: 24px;
  line-height: 40px;
  color: rgba(0, 42, 131, 0.84);
  text-align: center;
  margin-bottom: 40px;
}

@media (min-width: 992px) {
  .cargo {
    text-align: left;
    padding-right: 16px;
    padding-left: 16px;
  }
}

@media (min-width: 1400px) {
  .cargo {
    font-size: 35px;
    line-height: 55px;
  }
}

@media (min-width: 1400px) {
  .cargo {
    margin-bottom: 97px;
    max-width: 1535px;
  }
}

@media (min-width: 1600px) {
  .cargo {
    padding-right: 0;
    padding-left: 100px;
  }
}

.cargo-down-up {
  position: relative;
}

.cargo .logo {
  display: none;
}

@media (min-width: 1280px) {
  .cargo .logo {
    display: flex;
    position: absolute;
    top: 33px;
    right: 39px;
  }
}

.cargo span {
  margin-bottom: 33px;
  display: block;
}

@media (min-width: 600px) {
  .cargo span {
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 33px;
  }
}

@media (min-width: 992px) {
  .cargo span {
    margin-bottom: 0;
  }
}

@media (min-width: 1280px) {
  .cargo span {
    max-width: 880px;
  }
}

.cargo-down-first {
  display: none;
}

@media (min-width: 992px) {
  .cargo-down-first {
    display: block;
    max-width: 660px;
    margin-bottom: 40px;
  }
}

@media (min-width: 1400px) {
  .cargo-down-first {
    margin-bottom: 60px;
  }
}

.cargo-up {
  max-width: 288px;
  margin: 0 auto;
  margin-bottom: 39px;
}

@media (min-width: 600px) {
  .cargo-up {
    max-width: 450px;
  }
}

@media (min-width: 992px) {
  .cargo-up {
    display: none;
  }
}

@media (min-width: 992px) {
  .cargo-down {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media (min-width: 992px) {
  .cargo-down-block {
    margin-left: 40px;
  }
}

@media (min-width: 1600px) {
  .cargo-down-block {
    margin-left: 112px;
  }
}

.cargo-down-second {
  max-width: 288px;
  margin: 0 auto;
}

@media (min-width: 600px) {
  .cargo-down-second {
    max-width: 450px;
  }
}

@media (min-width: 992px) {
  .cargo-down-second {
    max-width: 660px;
    margin: 0;
  }
}

.feedback {
  padding: 0px 16px;
  margin-bottom: 52px;
}

@media (min-width: 1100px) {
  .feedback {
    background-image: url("../img/form-bg.jpg");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 76px;
    padding-bottom: 178px;
  }
}

@media (min-width: 1400px) {
  .feedback {
    padding-left: 100px;
    background-size: cover;
  }
}

.feedback__title {
  text-align: center;
  color: #ff2c4f;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 24px;
}

@media (min-width: 1100px) {
  .feedback__title {
    color: #ffef5a;
    font-size: 50px;
    line-height: 60px;
    font-weight: 400;
    max-width: 652px;
    margin: 0 auto;
    margin-bottom: 80px;
  }
}

@media (min-width: 1400px) {
  .feedback__title {
    margin-right: 0;
    margin-left: 0;
    text-align: left;
  }
}

.feedback__form {
  background-color: rgba(65, 103, 184, 0.9);
  border-radius: 8px;
  padding: 40px 29px 25px;
  max-width: 466px;
  margin: 0 auto;
}

@media (min-width: 450px) {
  .feedback__form {
    padding-right: 62px;
    padding-left: 62px;
    padding-top: 48px;
    padding-bottom: 58px;
  }
}

@media (min-width: 1100px) {
  .feedback__form {
    background: rgba(65, 103, 184, 0.59);
    box-shadow: -10px 10px 100px rgba(0, 0, 0, 0.6);
  }
}

@media (min-width: 1400px) {
  .feedback__form {
    margin: 0;
  }
}

.feedback__form .btn-orange {
  max-width: 256px;
  width: 100%;
  height: 61px;
  margin: 0 auto;
}

@media (min-width: 1100px) {
  .feedback__form .btn-orange {
    margin: 0;
    width: 338px;
    height: 61px;
    max-width: none;
  }
}

.form__title {
  letter-spacing: 0.0075em;
  text-transform: uppercase;
  font-size: 27px;
  text-align: center;
  color: #ffffff;
  font-weight: normal;
  margin-bottom: 40px;
}

@media (min-width: 1100px) {
  .form__title {
    color: #c8a879;
    font-size: 28px;
    margin-bottom: 60px;
  }
}

.form__input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #ffffff;
  width: 100%;
  padding-bottom: 10px;
  margin-bottom: 24px;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
}

.form__input::placeholder {
  color: #ffffff;
}

@media (min-width: 1100px) {
  .form__input {
    color: #c8a879;
    border-bottom: 1px solid #c8a879;
    margin-bottom: 61px;
  }
  .form__input::placeholder {
    color: #c8a879;
  }
}

.form__textarea {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #ffffff;
  resize: none;
  width: 100%;
  height: 40px;
  padding: 0;
  margin-bottom: 34px;
  color: #ffffff;
  font-size: 18px;
  line-height: 30px;
}

.form__textarea::placeholder {
  color: #ffffff;
}

@media (min-width: 1100px) {
  .form__textarea {
    color: #c8a879;
    border-bottom: 1px solid #c8a879;
    margin-bottom: 80px;
  }
  .form__textarea::placeholder {
    color: #c8a879;
  }
}

.form__checkbox {
  display: none;
}

.form__label {
  color: #ffffff;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  cursor: pointer;
  margin-bottom: 25px;
}

@media (min-width: 1100px) {
  .form__label {
    color: rgba(200, 168, 121, 0.8);
    align-items: center;
    margin-bottom: 33px;
  }
}

.form__label span {
  border: 1px solid #ffffff;
  border-radius: 2px;
  display: block;
  position: relative;
  width: 100%;
  max-width: 24px;
  height: 24px;
  margin-right: 13px;
}

.form__label span::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-image: url("../img/check-white.png");
  width: 21px;
  height: 20px;
}

@media (min-width: 1100px) {
  .form__label span {
    border: 1px solid rgba(200, 168, 121, 0.43);
  }
  .form__label span::before {
    background-image: url("../img/check.png");
  }
}

.form__checkbox_show::before {
  display: none;
}

.form__label p {
  width: 147px;
}

@media (min-width: 1100px) {
  .form__label p {
    width: auto;
  }
}

.certification {
  margin-bottom: 60px;
}

@media (min-width: 1100px) {
  .certification {
    margin-bottom: 83px;
  }
}

.certification h2 {
  max-width: 219px;
  margin: 0 auto;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .certification h2 {
    max-width: none;
  }
}

@media (min-width: 1100px) {
  .certification h2 {
    margin-bottom: 63px;
  }
}

.certification-block {
  max-width: 1868px;
  margin: 0 auto;
  margin-left: 20px;
  position: relative;
}

@media (min-width: 650px) {
  .certification-block {
    margin-right: 20px;
  }
}

.certification-block .swiper-button-prev,
.certification-block .swiper-button-next {
  display: none;
}

@media (min-width: 1100px) {
  .certification-block .swiper-button-prev,
  .certification-block .swiper-button-next {
    display: block;
  }
}

.certification-slider .swiper-slide {
  display: flex;
  justify-content: center;
}

.footer {
  background: linear-gradient(180deg, rgba(0, 42, 131, 0.84) 0%, rgba(0, 42, 131, 0.4116) 100%) center;
  padding: 35px 28px 15px;
  position: relative;
}

.footer::before {
  content: "";
  background-image: url("../img/footer-top-min.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 243px;
}

@media (min-width: 375px) {
  .footer::before {
    background-image: url("../img/footer-bg-top.png");
  }
}

@media (min-width: 1100px) {
  .footer::before {
    height: 493px;
  }
}

@media (min-width: 1100px) {
  .footer::before {
    z-index: -3;
  }
}

.footer::after {
  content: "";
  background-image: url("../img/footer-down-min.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 134px;
}

@media (min-width: 375px) {
  .footer::after {
    background-image: url("../img/footer-bg-down.png");
  }
}

@media (min-width: 1100px) {
  .footer::after {
    height: 235px;
  }
}

@media (min-width: 1100px) {
  .footer {
    padding-top: 61px;
    padding-bottom: 38px;
  }
}

.footer-container {
  max-width: 1720px;
  margin: 0 auto;
}

.footer-top .hide {
  display: none;
}

@media (min-width: 1100px) {
  .footer-top .hide {
    display: block;
  }
}

.footer-bottom .hide {
  display: none;
}

@media (min-width: 1100px) {
  .footer-bottom .hide {
    display: block;
  }
}

@media (min-width: 1100px) {
  .footer-top {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 1920px) {
  .footer-top {
    justify-content: flex-start;
  }
}

@media (min-width: 1100px) {
  .footer-top-block_one {
    width: 30%;
  }
}

@media (min-width: 1920px) {
  .footer-top-block_one {
    width: 17%;
    margin-right: 97px;
  }
}

.footer-top-block_two {
  display: flex;
  justify-content: space-between;
  margin-top: 22px;
  width: 70%;
}

.footer-top__logo {
  margin-bottom: 40px;
}

@media (min-width: 992px) {
  .footer-top__logo {
    margin-bottom: 0;
    width: 21%;
  }
}

@media (min-width: 1100px) {
  .footer-top__logo {
    width: auto;
    margin-bottom: 50px;
  }
}

.footer-top__column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 600px) {
  .footer-top__column {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: 1100px) {
  .footer-top__column {
    flex-direction: column;
    align-items: flex-start;
  }
}

.footer-top {
  margin-bottom: 265px;
}

@media (min-width: 1100px) {
  .footer-top {
    margin-bottom: 144px;
  }
}

.footer-top__location {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 600px) {
  .footer-top__location {
    align-items: flex-end;
  }
}

@media (min-width: 992px) {
  .footer-top__location {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 75%;
  }
}

@media (min-width: 1100px) {
  .footer-top__location {
    flex-direction: column;
    align-items: flex-start;
    width: auto;
  }
}

.footer-top__location p {
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 18px;
}

@media (min-width: 992px) {
  .footer-top__location p {
    margin-bottom: 0;
  }
}

@media (min-width: 1100px) {
  .footer-top__location p {
    margin-bottom: 18px;
  }
}

.footer-top__location .phone {
  margin-bottom: 18px;
  display: block;
  font-family: "BebasNeueBold";
  font-size: 34px;
  line-height: 34px;
  color: #ffffff;
}

@media (min-width: 992px) {
  .footer-top__location .phone {
    margin-bottom: 0;
  }
}

@media (min-width: 1100px) {
  .footer-top__location .phone {
    margin-bottom: 18px;
  }
}

.footer-top__location .btn {
  width: 171px;
  height: 44px;
  line-height: 44px;
}

.footer-top__list li {
  font-size: 16px;
  line-height: 19px;
  color: #ffef5a;
  margin-bottom: 22px;
}

.footer-top__list li:last-child {
  margin-bottom: 0;
}

@media (min-width: 1100px) {
  .footer-top__list li {
    font-size: 14px;
  }
}

@media (min-width: 1280px) {
  .footer-top__list li {
    font-size: 16px;
  }
}

.footer-top__list li:first-child {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-top__list li:first-child a {
  padding-bottom: 6px;
}

.footer-top__list li:first-child a:hover {
  border-bottom: 4px solid #ffef5a;
}

@media (min-width: 1100px) {
  .footer-top__list li:first-child a {
    font-size: 15px;
  }
}

@media (min-width: 1280px) {
  .footer-top__list li:first-child a {
    font-size: 18px;
  }
}

.footer-top .list-link {
  font-size: 18px;
  line-height: 21px;
  color: #ffef5a;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 6px;
  margin-bottom: 20px;
  display: block;
}

.footer-top .list-link:hover {
  border-bottom: 4px solid #ffef5a;
}

@media (min-width: 1100px) {
  .footer-top .list-link {
    font-size: 15px;
  }
}

@media (min-width: 1280px) {
  .footer-top .list-link {
    font-size: 18px;
  }
}

.footer-bottom {
  color: #ffef5a;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
}

.footer-bottom::before {
  content: "";
  background-image: url("../img/footer-boutle.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 55px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -2;
  width: 248px;
  height: 228px;
}

@media (min-width: 1100px) {
  .footer-bottom::before {
    width: 352px;
    height: 324px;
    left: auto;
    transform: none;
    right: 104px;
  }
}

@media (min-width: 1100px) {
  .footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.delivery {
  padding-top: 23px;
  padding-right: 16px;
  padding-left: 23px;
  padding-bottom: 15px;
}

@media (min-width: 1100px) {
  .delivery {
    padding-bottom: 86px;
  }
}

.delivery .main-title {
  margin-bottom: 13px;
}

.delivery p {
  font-size: 16px;
  line-height: 28px;
  font-family: "helveticaneuecyr";
  max-width: 1664px;
  margin: 0 auto;
  margin-bottom: 51px;
}

@media (min-width: 1100px) {
  .delivery p {
    font-size: 18px;
  }
}

@media (min-width: 600px) {
  .delivery-list {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 1100px) {
  .delivery-list {
    width: 68%;
    margin: 0 auto;
  }
}

.delivery-list h2 {
  font-weight: 600;
  font-size: 20px;
  line-height: 31px;
  color: rgba(0, 42, 131, 0.84);
  text-align: center;
  max-width: 240px;
  margin: 0 auto;
  margin-bottom: 23px;
}

@media (min-width: 1100px) {
  .delivery-list h2 {
    font-size: 26px;
  }
}

.delivery-list span {
  width: 150px;
  margin: 0 auto;
  display: block;
}

.delivery-list li {
  margin-bottom: 40px;
}
