@charset "UTF-8";
*,
*::after,
*::before {
  box-sizing: border-box;
}

blockquote,
body,
dd,
dl,
figcaption,
figure,
h1,
h2,
h3,
h4,
li,
ol,
p,
ul {
  margin: 0;
}

body {
  font-family: "helveticaneuecyr";
  font-weight: 400;
  color: #717171;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  overflow-x: hidden;
  height: 100%;
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

ol,
ul {
  padding: 0;
  list-style: none;
}

a {
  font-family: inherit;
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border: none;
}

button,
input,
select,
textarea {
  font-family: inherit;
}

@font-face {
  font-family: "BebasNeueBold";
  src: url("../fonts/BebasNeueBold/BebasNeueBold.eot");
  src: local("☺"), url("../fonts/BebasNeueBold/BebasNeueBold.woff") format("woff"), url("../fonts/BebasNeueBold/BebasNeueBold.ttf") format("truetype"), url("../fonts/BebasNeueBold/BebasNeueBold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BebasNeueRegular";
  src: url("../fonts/BebasNeueRegular/BebasNeueRegular.eot");
  src: local("☺"), url("../fonts/BebasNeueRegular/BebasNeueRegular.woff") format("woff"), url("../fonts/BebasNeueRegular/BebasNeueRegular.ttf") format("truetype"), url("../fonts/BebasNeueRegular/BebasNeueRegular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BebasNeueLight";
  src: url("../fonts/BebasNeueLight/BebasNeueLight.eot");
  src: local("☺"), url("../fonts/BebasNeueLight/BebasNeueLight.woff") format("woff"), url("../fonts/BebasNeueLight/BebasNeueLight.ttf") format("truetype"), url("../fonts/BebasNeueLight/BebasNeueLight.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SFProDisplay";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/SFProDisplay-Regular/SFProDisplay-Regular.woff2") format("woff2"), url("../fonts/SFProDisplay-Regular/SFProDisplay-Regular.woff2") format("woff"), url("../fonts/SFProDisplay-Regular/SFProDisplay-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "SFProDisplay";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/SFProDisplay-Medium/SFProDisplay-Medium.woff2") format("woff2"), url("../fonts/SFProDisplay-Medium/SFProDisplay-Medium.woff2") format("woff"), url("../fonts/SFProDisplay-Medium/SFProDisplay-Medium.ttf") format("ttf");
}

@font-face {
  font-family: "SFProDisplay";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/SFProDisplay-Semibold/SFProDisplay-Semibold.woff2") format("woff2"), url("../fonts/SFProDisplay-Semibold/SFProDisplay-Semibold.woff2") format("woff"), url("../fonts/SFProDisplay-Semibold/SFProDisplay-Semibold.ttf") format("ttf");
}

@font-face {
  font-family: "helveticaneuecyr";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/helveticaneuecyr-regular/helveticaneuecyr-regular.woff") format("woff"), url("../fonts/helveticaneuecyr-regular/helveticaneuecyr-regular.eot") format("eot"), url("../fonts/helveticaneuecyr-regular/helveticaneuecyr-regular.ttf") format("ttf");
}

@font-face {
  font-family: "helveticaneuecyr";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/helveticaneuecyr-medium/helveticaneuecyr-medium.woff") format("woff"), url("../fonts/helveticaneuecyr-medium/helveticaneuecyr-medium.eot") format("eot"), url("../fonts/helveticaneuecyr-medium/helveticaneuecyr-medium.ttf") format("ttf");
}

@font-face {
  font-family: "helveticaneuecyr";
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/HelveticaNeueCyr-Heavy/HelveticaNeueCyr-Heavy.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Heavy/HelveticaNeueCyr-Heavy.eot") format("eot"), url("../fonts/HelveticaNeueCyr-Heavy/HelveticaNeueCyr-Heavy.ttf") format("ttf");
}

@font-face {
  font-family: "TTNorms";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/TTNorms-Medium/TTNorms-Medium.woff2") format("woff2"), url("../fonts/TTNorms-Medium/TTNorms-Medium.woff2") format("woff"), url("../fonts/TTNorms-Medium/TTNorms-Medium.ttf") format("ttf");
}

@font-face {
  font-family: "TTNorms";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/TTNorms-Bold/TTNorms-Bold.woff2") format("woff2"), url("../fonts/TTNorms-Bold/TTNorms-Bold.woff2") format("woff"), url("../fonts/TTNorms-Bold/TTNorms-Bold.ttf") format("ttf");
}

@font-face {
  font-family: "TTNorms";
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/TTNorms-ExtraBold/TTNorms-ExtraBold.woff2") format("woff2"), url("../fonts/TTNorms-ExtraBold/TTNorms-ExtraBold.woff2") format("woff"), url("../fonts/TTNorms-ExtraBold/TTNorms-ExtraBold.ttf") format("ttf");
}

@font-face {
  font-family: "Gilroy-Heavy";
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Gilroy-Heavy/Gilroy-Heavy.woff") format("woff"), url("../fonts/Gilroy-Heavy/Gilroy-Heavy.eot") format("eot"), url("../fonts/Gilroy-Heavy/Gilroy-Heavy.ttf") format("ttf");
}

.container {
  max-width: 1713px;
  width: 100%;
  margin: 0 auto;
  padding: 0 18px;
}

.header-desctop {
  padding-top: 14px;
  padding-bottom: 21px;
  background: #e1f7ff;
}

@media (max-width: 1279px) {
  .header-desctop {
    display: none;
  }
}

.burger {
  width: 40px;
  height: 40px;
  background: url("../img/open-menu.png") no-repeat center;
  background-size: contain;
}

.burger.is-active {
  background: url("../img/close-menu-big.png") no-repeat center;
  background-size: contain;
}

.burger-mob {
  width: 20px;
  height: 20px;
  background: url("../img/open-menu.png") no-repeat center;
  background-size: contain;
}

.burger-mob.is-active {
  background: url("../img/close-menu-big.png") no-repeat center;
  background-size: contain;
}

.header-desctop__item_left {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  margin-left: 24px;
  position: relative;
  z-index: 1;
}

.logo__name {
  font-family: "Gilroy-Heavy";
  font-size: 38px;
  padding-top: 14px;
  margin-left: -9px;
  line-height: 41px;
}

@media (max-width: 1599px) {
  .logo__name {
    font-size: 25px;
    margin-left: -6px;
    padding-top: 3px;
  }
}

.logo__name span:first-child {
  color: #4576e6;
}

.logo__name span:last-child {
  color: #fe0199;
}

.logo__article {
  font-family: "SFProDisplay";
  font-weight: 500;
  color: #4576e6;
  font-size: 14px;
  text-align: right;
}

.header-desctop__cont {
  display: flex;
  justify-content: space-between;
}

.header-desctop__cont .header-desctop__item:first-child {
  width: 25%;
}

.header-desctop__cont .header-desctop__item:nth-child(2) {
  width: 58%;
}

.header-desctop__cont .header-desctop__item:last-child {
  width: 17%;
}

.logo__img {
  width: 68px;
}

@media (max-width: 1599px) {
  .logo__img {
    width: 48px;
  }
}

.top-menu {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
}

.top-menu li:not(:last-child) {
  margin-right: 70px;
}

.main-menu {
  display: flex;
  justify-content: space-between;
}

.main-menu > li > a,
.mob-dropdown__bottom-list > li > a {
  font-family: "SFProDisplay";
  font-weight: 500;
  color: #4e9ba6;
  font-size: 18px;
  display: inline-block;
  position: relative;
  border-bottom: 1px solid #4e9ba6;
  margin-left: 44px;
}

@media (max-width: 1599px) {
  .main-menu > li > a,
  .mob-dropdown__bottom-list > li > a {
    font-size: 16px;
  }
}

@media (min-width: 1600px) {
  .main-menu > li > a,
  .mob-dropdown__bottom-list > li > a {
    margin-left: 54px;
  }
}

.main-menu > li > a:after,
.mob-dropdown__bottom-list > li > a:after {
  content: "";
  position: absolute;
  width: 34px;
  height: 34px;
  left: -44px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 10em;
}

@media (min-width: 1600px) {
  .main-menu > li > a:after,
  .mob-dropdown__bottom-list > li > a:after {
    width: 44px;
    height: 44px;
    left: -54px;
  }
}

.med-list:after {
  background: white url("../img/checklist.png") no-repeat center;
}

.med-book:after {
  background: white url("../img/document.png") no-repeat center;
}

.med-prof:after {
  background: white url("../img/pharmacist.png") no-repeat center;
}

.med-caught:after {
  background: white url("../img/seo-report.png") no-repeat center;
}

.header-desctop__right {
  text-align: right;
}

.header-desctop__right li:first-child {
  margin-bottom: 7px;
}

.call-link {
  font-family: "TTNorms";
  font-weight: 600;
  font-size: 26px;
  color: #fe0199;
}

@media (max-width: 1599px) {
  .call-link {
    font-size: 20px;
  }
}

.timework {
  font-family: "SFProDisplay";
  font-weight: 500;
  font-size: 16px;
  color: #565656;
}

@media (max-width: 1599px) {
  .timework {
    font-size: 14px;
  }
}

.hidden-menu-dsc {
  background: #d1f3ff;
  box-shadow: 0px 10px 20px rgba(42, 30, 117, 0.13);
  padding-top: 18px;
  padding-bottom: 42px;
  position: absolute;
  display: none;
  width: 100%;
  z-index: 11;
}

.hidden-menu-dsc__top {
  border-bottom: 1px solid #c7daff;
  padding-bottom: 16px;
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between;
}

.hidden-menu-dsc__top li {
  font-family: "SFProDisplay";
  font-weight: 500;
  color: #333330;
  font-size: 28px;
  width: 23%;
}

.hidden-menu-dsc__bottom {
  display: flex;
  justify-content: space-between;
}

.hidden-menu-dsc__links {
  width: 23%;
}

.hidden-menu-dsc__links li:not(:last-child) {
  margin-bottom: 20px;
}

.hidden-menu-dsc__links a {
  font-family: "SFProDisplay";
  font-weight: 500;
  color: #717171;
  font-size: 16px;
  border-bottom: 1px solid transparent;
}

.hidden-menu-dsc__links a:hover {
  border-bottom: 1px solid #717171;
}

.mob-phone {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url("../img/call-mob.png") no-repeat center;
}

.header-mobile {
  background: #e1f7ff;
  padding: 12px 22px;
}

@media (min-width: 1280px) {
  .header-mobile {
    display: none;
  }
}

.header-mobile__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-mobile__bottom {
  text-align: center;
  padding-top: 12px;
}

.header-mobile__bottom .call-link {
  font-size: 20px;
}

.logo_mob {
  margin-left: 0;
}

.logo_mob .logo__img {
  width: 41px;
  height: 41px;
}

.logo_mob .logo__name {
  font-size: 24px;
  margin-left: -5px;
  padding-top: 7px;
  line-height: 26px;
}

.logo_mob .logo__article {
  font-size: 12px;
}

.mob-dropdown {
  background: #e1f7ff;
  padding: 13px 22px 35px;
  max-width: 320px;
  width: 100%;
  transition: 0.5s;
  position: absolute;
  left: -100%;
  z-index: 11;
}

.mob-dropdown.is-active {
  left: 0;
}

.mob-dropdown__top-list {
  margin-bottom: 35px;
  column-count: 2;
}

.mob-dropdown__top-list li {
  margin-bottom: 18px;
}

.mob-dropdown__bottom-list {
  margin-bottom: 25px;
}

.mob-dropdown__bottom-list > li {
  padding-bottom: 43px;
}

.mob-dropdown__bottom-list > li > a:before {
  content: "";
  position: absolute;
  right: -35px;
  top: 2px;
  width: 24px;
  height: 24px;
  background: url("../img/expand-more.png") no-repeat center;
}

.mob-dropdown__bottom-list > li > a.is-active:before {
  transform: rotate(180deg);
}

.btn {
  font-family: "SFProDisplay";
  font-weight: 500;
  width: 100%;
  display: inline-block;
  background: #ffdd2d;
  border-radius: 4px;
  height: 63px;
  line-height: 63px;
  color: #333330;
  font-size: 18px;
}

.inner-menu {
  margin-top: 32px;
  display: none;
}

.inner-menu li {
  margin-bottom: 21px;
}

.inner-menu a {
  font-family: "SFProDisplay";
  font-weight: 500;
  color: #717171;
  font-size: 14px;
}

.inner-menu__title {
  font-family: "SFProDisplay";
  font-weight: 500;
  color: #333330;
  font-size: 20px;
  margin-bottom: 14px;
  text-align: center;
}

.main-title {
  font-family: SFProDisplay;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #333330;
}

@media (min-width: 768px) {
  .main-title {
    font-size: 26px;
    line-height: 35px;
  }
}

.advantages {
  margin-top: 23px;
  margin-bottom: 25px;
}

@media (min-width: 1100px) {
  .advantages {
    margin-top: 57px;
    margin-bottom: 36px;
  }
}

.advantages h2 {
  margin-bottom: 29px;
}

@media (min-width: 1100px) {
  .advantages h2 {
    margin-bottom: 60px;
  }
}

.advantages .swiper-pagination {
  position: relative;
  margin-top: 54px;
  display: none;
}

@media (min-width: 1100px) {
  .advantages .swiper-pagination {
    display: block;
  }
}

.advantages .swiper-wrapper {
  flex-wrap: wrap;
  justify-content: space-around;
}

@media (min-width: 1100px) {
  .advantages .swiper-wrapper {
    justify-content: flex-start;
    flex-wrap: nowrap;
  }
}

@media (min-width: 450px) {
  .advantages .swiper-slide {
    width: 50%;
  }
}

@media (min-width: 768px) {
  .advantages .swiper-slide {
    width: 25%;
  }
}

@media (min-width: 1100px) {
  .advantages .swiper-slide {
    width: auto;
  }
}

.advantages .swiper-button-next,
.advantages .swiper-button-prev {
  display: none;
  top: 20%;
}

@media (min-width: 1100px) {
  .advantages .swiper-button-next,
  .advantages .swiper-button-prev {
    display: block;
  }
}

.advantages-block {
  text-align: center;
}

.advantages-item {
  margin-bottom: 25px;
}

.advantages-block h3 {
  font-family: SFProDisplay;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  color: #4e9ba6;
}

.services {
  padding: 0 16px;
  margin-bottom: 25px;
}

@media (min-width: 1100px) {
  .services {
    margin-bottom: 49px;
  }
}

@media (min-width: 1920px) {
  .services {
    padding: 0;
  }
}

.services-block {
  max-width: 1660px;
  margin: 0 auto;
}

.services__title {
  margin-bottom: 18px;
}

@media (min-width: 1100px) {
  .services__title {
    margin-bottom: 38px;
  }
}

.services__table {
  border-collapse: collapse;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  font-family: "SFProDisplay";
}

@media (min-width: 768px) {
  .services__table {
    max-width: 1660px;
  }
}

.services__table th,
.services__table td {
  display: block;
}

@media (min-width: 600px) {
  .services__table th,
  .services__table td {
    display: table-cell;
  }
}

.services__table tbody tr {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 400px;
  min-height: 58px;
  padding-left: 16px;
  padding-right: 9px;
  padding-top: 8px;
  padding-bottom: 8px;
}

@media (min-width: 768px) {
  .services__table tbody tr {
    max-width: 330px;
  }
}

@media (min-width: 992px) {
  .services__table tbody tr {
    max-width: 320px;
  }
}

@media (min-width: 1100px) {
  .services__table tbody tr {
    display: table-row;
    max-width: none;
  }
  .services__table tbody tr:nth-child(odd) {
    background-color: #e1f7ff;
  }
  .services__table tbody tr:hover, .services__table tbody tr:active {
    color: #ff6633;
  }
  .services__table tbody tr:hover a, .services__table tbody tr:active a {
    color: #ff6633;
    border-bottom: 1px dashed #ff6633;
  }
  .services__table tbody tr:hover, .services__table tbody tr:active {
    background-color: #ffecef;
  }
  .services__table tbody tr:hover .order, .services__table tbody tr:active .order {
    display: inline-block;
    color: #333333;
    border: none;
  }
}

.time-block {
  text-align: center;
}

@media (min-width: 1100px) {
  .time-block {
    text-align: left;
  }
}

.services .order-block {
  width: 100%;
  margin-top: 14px;
}

@media (min-width: 1100px) {
  .services .order-block {
    padding-left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    text-align: center;
    margin-top: 0;
  }
}

.services__table tbody {
  color: #6d7286;
  font-size: 18px;
}

@media (min-width: 768px) and (max-width: 1099px) {
  .services__table tbody {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media (min-width: 1100px) {
  .services__table td {
    padding-left: 18px;
    height: 60px;
  }
}

@media (min-width: 1600px) {
  .services__table td:nth-child(2), .services__table td:nth-child(3) {
    text-align: center;
    padding-left: 0px;
  }
}

.services__table .link {
  font-size: 16px;
  color: #6d7286;
  font-weight: 500;
  border-bottom: 1px solid #666666;
}

@media (min-width: 1100px) {
  .services__table .link {
    font-size: 18px;
    border-bottom: 1px dashed #666666;
  }
}

@media (min-width: 1100px) {
  .services .order {
    display: none;
    border-radius: 6px;
    height: 37px;
    width: 196px;
    line-height: 37px;
    font-size: 14px;
  }
}

.services__table .name {
  width: 100%;
  margin-bottom: 14px;
}

@media (min-width: 1100px) {
  .services__table .name {
    width: auto;
    margin-bottom: 0;
  }
}

.services__table .services__table-hide {
  display: none;
}

@media (min-width: 1100px) {
  .services__table .services__table-hide {
    display: table-cell;
  }
}

@media (min-width: 1100px) {
  .services__table .services__table-hide {
    display: table-cell;
  }
}

.services__table th {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 44px;
  height: 44px;
  background-color: #4e9ba6;
}

@media (min-width: 1100px) {
  .services__table th {
    text-align: left;
    padding-left: 18px;
    height: 60px;
  }
  .services__table th:last-child {
    width: 20%;
  }
}

@media (min-width: 1600px) {
  .services__table th:nth-child(2), .services__table th:nth-child(3) {
    text-align: center;
    padding-left: 0px;
  }
}

.services .tab {
  margin-left: 18px;
}

@media (min-width: 1100px) {
  .services .tab ul {
    display: flex;
    border-bottom: 1px solid #cce8ef;
    padding-bottom: 10px;
    margin-bottom: 18px;
  }
}

.services .tab li {
  margin-right: 50px;
}

.services .tab li:last-child {
  margin-right: 0;
}

.services .tab a {
  color: #504b5a;
  font-size: 18px;
  font-weight: bold;
  border-bottom: 2px solid transparent;
}

.services .tab .active {
  color: #2252b2;
  padding-bottom: 9.4px;
  border-bottom: 2px solid #2252b2;
}

.btn {
  background-color: #ffdd2d;
  box-shadow: 0px 5px 30px rgba(28, 46, 90, 0.17);
  border-radius: 8px;
}

.order {
  max-width: 288px;
  margin: 0 auto;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #504b5a;
  position: relative;
}

@media (min-width: 1100px) {
  .order {
    margin: 0;
  }
}

.order::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background-image: url("../img/btn-arrow.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: contain;
  width: 12px;
  height: 12px;
}

@media (min-width: 1100px) {
  .order::before {
    display: none;
  }
}

.price,
.time {
  color: #fe0199;
  font-weight: 500;
  text-align: center;
}

@media (min-width: 1100px) {
  .price,
  .time {
    color: #666666;
    font-weight: normal;
  }
}

.title-price {
  display: block;
  font-weight: 550;
  font-size: 14px;
  color: #059e9c;
  text-align: center;
}

@media (min-width: 1100px) {
  .title-price {
    display: none;
  }
}

.title-time {
  display: block;
  font-weight: 550;
  font-size: 14px;
  color: #059e9c;
  text-align: center;
}

@media (min-width: 1100px) {
  .title-time {
    display: none;
  }
}

.new-form {
  max-width: 1677px;
  margin: 0 auto;
  margin-bottom: 47px;
  padding-left: 16px;
  padding-right: 16px;
}

@media (min-width: 1920px) {
  .new-form {
    padding-left: 0;
    padding-right: 0px;
  }
}

.new-form h2 {
  margin-bottom: 13px;
}

@media (min-width: 1100px) {
  .new-form h2 {
    margin-bottom: 15px;
  }
}

.new-form p {
  margin-bottom: 36px;
}

.new-form ul {
  max-width: 450px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .new-form ul {
    max-width: none;
    column-count: 2;
    margin-top: 0;
  }
}

@media (min-width: 1600px) {
  .new-form ul {
    column-count: 3;
  }
}

.new-form li {
  padding-left: 21px;
  margin-bottom: 15px;
  position: relative;
}

.new-form li::before {
  content: "";
  background-color: #4e9ba6;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 6px;
  height: 6px;
}

.new-form li a {
  font-size: 14px;
  line-height: 22px;
  color: #717171;
}

.new-form li a:hover {
  color: #f72d51;
  border-bottom: 1px dashed #f72d51;
}

@media (min-width: 768px) {
  .new-form li a {
    font-size: 15px;
  }
}

.points,
.next {
  font-size: 14px;
}

@media (min-width: 768px) {
  .points,
  .next {
    display: none;
  }
}

.next {
  text-decoration: underline;
  color: #8e8e8e;
  cursor: pointer;
}

.text {
  font-size: 14px;
  line-height: 25px;
  color: #8e8e8e;
}

@media (min-width: 768px) {
  .text {
    font-size: 17px;
  }
}

.text .hide {
  display: none;
}

@media (min-width: 768px) {
  .text .hide {
    display: inline;
  }
}

.text .hide-active {
  display: inline;
}

.item-hide {
  display: none;
}

@media (min-width: 1100px) {
  .item-hide {
    display: block;
  }
}

.license {
  padding-left: 5px;
  margin-bottom: 51px;
}

@media (min-width: 1100px) {
  .license {
    margin-bottom: 60px;
  }
}

@media (min-width: 1920px) {
  .license {
    padding: 0;
  }
}

@media (min-width: 1100px) {
  .license .swiper-button-next,
  .license .swiper-button-prev {
    top: 45%;
  }
}

.license h2 {
  margin-bottom: 27px;
}

@media (min-width: 1100px) {
  .license h2 {
    margin-bottom: 51px;
  }
}

.main-slider-block {
  position: relative;
  max-width: 1750px;
  margin: 0 auto;
}

.main-slider {
  max-width: 1660px;
  margin: 0 auto;
}

.main-slider .swiper-slide {
  padding: 10px;
}

.license-item {
  width: 218px;
  height: 300px;
  margin: 0 auto;
}

.license-item img {
  box-shadow: 0px 2px 14px rgba(92, 99, 162, 0.15);
}

.swiper-button-next,
.swiper-button-prev {
  display: block;
  background-size: contain;
  margin: 0;
  transform: translateY(-50%);
  width: 11px;
  height: 19px;
}

.swiper-button-next {
  background-image: url("../img/arrow-next.png");
}

.swiper-button-prev {
  background-image: url("../img/arrow-prev.png");
}

.swiper-pagination-bullet {
  background-color: #e5e5e5;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: #fc474e;
}

.license .swiper-pagination {
  position: relative;
  margin-top: 43px;
}

.footer {
  background-color: #f1f4f5;
}

.footer-inner {
  max-width: 1660px;
  margin: 0 auto;
  padding: 20px 29px 34px;
}

@media (min-width: 768px) {
  .footer-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

@media (min-width: 1100px) {
  .footer-inner {
    padding-top: 46px;
    padding-bottom: 43px;
  }
}

@media (min-width: 1280px) {
  .footer-inner {
    justify-content: space-between;
  }
}

@media (min-width: 1700px) {
  .footer-inner {
    padding-right: 0;
    padding-left: 0;
  }
}

.footer .logo {
  max-width: 240px;
  margin: 0 auto;
  margin-bottom: 17px;
}

@media (min-width: 768px) {
  .footer .logo {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (min-width: 1100px) {
  .footer .logo {
    max-width: none;
  }
}

@media (min-width: 1600px) {
  .footer .logo {
    margin-top: -20px;
  }
}

.footer-info-block {
  text-align: center;
  margin-bottom: 34px;
}

@media (min-width: 768px) {
  .footer-info-block {
    text-align: left;
    width: 35%;
  }
}

@media (min-width: 1100px) {
  .footer-info-block {
    width: 26%;
  }
}

@media (min-width: 1280px) {
  .footer-info-block {
    width: 19%;
  }
}

.footer-info a {
  display: block;
  color: #717171;
  font-size: 26px;
  font-family: "Gilroy-Heavy";
}

.footer-info span {
  font-family: SFProDisplay;
  font-weight: 500;
  font-size: 16px;
  color: #717171;
  display: block;
  margin-bottom: 22px;
}

.footer-info p {
  font-family: SFProDisplay;
  font-weight: normal;
  font-size: 17px;
  line-height: 25px;
  color: #717171;
}

@media (min-width: 1100px) {
  .footer-info p {
    font-size: 18px;
  }
}

.footer-list {
  width: 100%;
  display: flex;
  justify-content: center;
}

@media (min-width: 768px) {
  .footer-list {
    width: 35%;
    justify-content: flex-start;
  }
}

@media (min-width: 1100px) {
  .footer-list {
    width: 26%;
  }
}

@media (min-width: 1280px) {
  .footer-list {
    width: 19%;
    justify-content: flex-end;
  }
}

.footer ul {
  margin-bottom: 26px;
  max-width: 260px;
}

.footer ul a {
  font-family: SFProDisplay;
  color: #717171;
  font-size: 15px;
  line-height: 25px;
  display: block;
  margin-bottom: 25px;
}

.footer ul a:hover {
  color: #fe0199;
  text-decoration: underline;
}

.footer ul li:first-child a {
  color: #4576e6;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 26px;
}

.footer ul li:first-child a:hover {
  color: #4576e6;
  text-decoration: none;
}

.footer ul li:last-child a {
  margin-bottom: 0;
}

.footer-bottom {
  width: 100%;
  margin-top: 80px;
}

@media (min-width: 768px) {
  .footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.footer-bottom a {
  display: none;
}

@media (min-width: 768px) {
  .footer-bottom a {
    display: block;
  }
}

.footer-bottom p {
  color: #717171;
  font-family: HelveticaNeueCyr;
  font-size: 14px;
  text-align: center;
}

@media (min-width: 768px) {
  .footer-bottom p {
    font-size: 15px;
  }
}

.anything {
  padding-left: 16px;
}

.anything-up-block {
  margin-bottom: 37px;
}

.anything-up-slider {
  max-width: 1000px;
}

@media (min-width: 1280px) {
  .anything-up-slider {
    max-width: 1200px;
  }
}

@media (min-width: 1500px) {
  .anything-up-slider {
    max-width: 1400px;
  }
}

@media (min-width: 1600px) {
  .anything-up-slider {
    max-width: 1660px;
  }
}

.anything-up-block .swiper-button-next,
.anything-up-block .swiper-button-prev,
.anything-bottom-block .swiper-button-next,
.anything-bottom-block .swiper-button-prev {
  display: none;
}

@media (min-width: 1100px) {
  .anything-up-block .swiper-button-next,
  .anything-up-block .swiper-button-prev,
  .anything-bottom-block .swiper-button-next,
  .anything-bottom-block .swiper-button-prev {
    display: block;
  }
}

.anything h2 {
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .anything h2 {
    margin-bottom: 30px;
  }
}

.anything-up-item {
  color: #4576e6;
  font-family: SFProDisplay;
  font-size: 14px;
  line-height: 25px;
  text-align: center;
  padding: 13px 3px;
  border: 1px solid rgba(69, 118, 230, 0.5);
  border-radius: 4px;
  display: block;
  position: relative;
}

.anything-up-item:hover {
  color: #ffffff;
  background-color: #4576e6;
}

.anything-up-item span {
  position: absolute;
  right: -13px;
  top: -13px;
  display: flex;
  justify-content: center;
  background: #73b041;
  border: 2px solid #ffffff;
  border-radius: 50%;
  color: #ffffff;
  font-size: 16px;
  font-family: SFProDisplay;
  text-align: center;
  line-height: 28px;
  width: 30px;
  height: 30px;
}

@media (min-width: 1100px) {
  .anything-bottom-slider {
    padding-top: 60px;
    padding-bottom: 60px;
    margin-top: -60px;
    margin-bottom: -60px;
    padding-right: 10px;
    padding-left: 10px;
  }
}

.anything-bottom-item {
  width: 288px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(34, 40, 98, 0.13);
  border-radius: 4px;
}

@media (min-width: 1100px) {
  .anything-bottom-item {
    width: 380px;
  }
  .anything-bottom-item:hover {
    box-shadow: 0px 10px 25px rgba(34, 40, 98, 0.32);
  }
  .anything-bottom-item:hover .anything-btn {
    background-color: #ffdd2d;
  }
  .anything-bottom-item:hover h3 a {
    color: #fe0199;
    border-bottom: 1px solid #fe0199;
  }
}

.anything-bottom-item h3 {
  max-width: 250px;
  margin: 0 auto;
  margin-bottom: 23px;
  position: relative;
  text-align: center;
}

@media (min-width: 1100px) {
  .anything-bottom-item h3 {
    max-width: 300px;
    min-height: 50px;
  }
}

.anything-bottom-item h3 a {
  font-family: SFProDisplay;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  color: #717171;
}

@media (min-width: 1100px) {
  .anything-bottom-item h3 a {
    border-bottom: 1px solid #717171;
    padding-bottom: 3px;
  }
}

.anything-bottom-item h3 span {
  display: none;
}

@media (min-width: 1100px) {
  .anything-bottom-item h3 span {
    background: #717171;
    color: #fff;
    width: 19px;
    height: 19px;
    display: block;
    position: absolute;
    right: -20px;
    top: -5px;
    border-radius: 50%;
    font-size: 14px;
    line-height: 19px;
  }
}

.anything-bottom-item .img {
  margin-bottom: 11px;
}

@media (min-width: 1100px) {
  .anything-bottom-item .img {
    margin-bottom: 26px;
  }
}

.anything-bottom-item p {
  margin-bottom: 28px;
}

.anything-bottom-item p span:first-child {
  color: #333330;
  font-size: 18px;
}

@media (min-width: 1100px) {
  .anything-bottom-item p span:first-child {
    font-size: 24px;
  }
}

.anything-bottom-item p span:last-child {
  font-size: 22px;
  color: #fe0199;
}

@media (min-width: 1100px) {
  .anything-bottom-item p span:last-child {
    font-size: 24px;
  }
}

.anything-btn {
  margin-bottom: 24px;
  width: 246px;
  text-align: center;
}

@media (min-width: 1100px) {
  .anything-btn {
    width: 281px;
    margin-bottom: 28px;
    background-color: #ffffff;
    border: 2px solid #ffdd2d;
    line-height: 60px;
  }
}

.anything-bottom-block {
  margin-left: -9px;
}

@media (min-width: 1100px) {
  .anything-bottom-block {
    margin-left: auto;
  }
}

.anything-bottom-block .last {
  display: none;
}

@media (min-width: 1100px) {
  .anything-bottom-block .last {
    display: block;
  }
}

.anything-bottom-block .swiper-wrapper {
  flex-direction: column;
}

@media (min-width: 768px) {
  .anything-bottom-block .swiper-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

@media (min-width: 1100px) {
  .anything-bottom-block .swiper-wrapper {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
}

@media (min-width: 768px) {
  .anything-bottom-block .swiper-slide {
    width: 40%;
  }
}

@media (min-width: 992px) {
  .anything-bottom-block .swiper-slide {
    width: 32%;
  }
}

@media (min-width: 1100px) {
  .anything-bottom-block .swiper-slide {
    width: auto;
  }
}

.metr-slider-wrap {
  background-color: #ecfaff;
}

.metr-slider-inner {
  max-width: 1850px;
  margin: 0 auto;
  position: relative;
  padding: 13px 0;
}

.metr-slider-inner .swiper-wrapper {
  align-items: center;
}

.metr-slider-inner .swiper-wrapper .red::before {
  background-color: #ef161e;
}

.metr-slider-inner .swiper-wrapper .grey::before {
  background-color: #a1b3d4;
}

.metr-slider-inner .swiper-wrapper .blue::before {
  background-color: #0078be;
}

.metr-slider-inner .swiper-wrapper .lightblue::before {
  background-color: #82c0c0;
}

.metr-slider-inner .swiper-wrapper .purple::before {
  background-color: #800080;
}

.metr-slider-inner a {
  color: #717171;
  font-weight: 500;
  font-size: 16px;
  font-family: "SFProDisplay";
  padding-bottom: 3px;
}

@media (min-width: 1100px) {
  .metr-slider-inner a {
    text-decoration: underline;
  }
  .metr-slider-inner a:hover {
    color: #fe0199;
  }
}

.metr-slider-inner .swiper-slide {
  display: flex;
  justify-content: center;
}

.metr-slider-inner span {
  position: relative;
  padding-left: 20px;
}

.metr-slider-inner span::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #99cc00;
}

.metr-container {
  max-width: 1660px;
  margin: 0 auto;
}

.category {
  max-width: 1677px;
  margin: 0 auto;
  padding: 0 18px;
  margin-top: 24px;
  margin-bottom: 21px;
}

@media (min-width: 1100px) {
  .category {
    margin-bottom: 39px;
  }
}

.category h2 {
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .category h2 {
    margin-bottom: 15px;
  }
}

.category .text {
  margin-bottom: 12px;
}

@media (min-width: 1100px) {
  .category .text {
    margin-bottom: 39px;
  }
}

.category-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (min-width: 936px) {
  .category-block {
    justify-content: space-between;
  }
}

@media (min-width: 1100px) {
  .category-block {
    flex-direction: row-reverse;
    justify-content: space-around;
  }
}

@media (min-width: 1400px) {
  .category-block {
    justify-content: space-between;
    align-items: flex-start;
  }
}

.online-column-one {
  display: none;
  position: relative;
}

@media (min-width: 1400px) {
  .online-column-one {
    display: block;
  }
}

.online-column-one p {
  background: #73b041;
  width: 134px;
  height: 134px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  border-radius: 50%;
  text-align: center;
  line-height: 19px;
  position: absolute;
  top: 180px;
  right: -91px;
  display: none;
}

@media (min-width: 1600px) {
  .online-column-one p {
    display: flex;
  }
}

.online-column-one span {
  display: block;
}

.online-block .img {
  position: relative;
  bottom: -26px;
}

.online-column-one .time {
  font-weight: bold;
  color: white;
}

.online-column-one .number {
  font-weight: bold;
  font-size: 28px;
  line-height: 35px;
}

.online-column-one h3 {
  font-family: SFProDisplay;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  margin-bottom: 10px;
  color: #4576e6;
}

.category-reglament {
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (min-width: 1100px) {
  .category-reglament {
    margin-bottom: 42px;
  }
}

@media (min-width: 1600px) {
  .category-reglament {
    justify-content: flex-start;
  }
}

.category-reglament li {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

@media (min-width: 1600px) {
  .category-reglament li {
    margin-bottom: 0;
    margin-right: 90px;
  }
}

.category-reglament span {
  margin-right: 8px;
  width: 40px;
  height: 40px;
}

@media (min-width: 1100px) {
  .category-reglament span {
    width: 50px;
    height: 50px;
  }
}

.category-reglament p {
  font-family: SFProDisplay;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #717171;
  max-width: 233px;
}

@media (min-width: 768px) {
  .category-reglament p {
    max-width: none;
  }
}

@media (min-width: 1280px) {
  .category-reglament p {
    font-size: 17px;
    line-height: 21px;
  }
}

.category-reglament p br {
  display: none;
}

@media (min-width: 768px) {
  .category-reglament p br {
    display: block;
  }
}

.category-slider {
  border: 4px solid #faac6e;
  border-radius: 4px;
  padding-top: 19px;
  max-width: 450px;
  margin: 0;
  padding-bottom: 29px;
  margin-bottom: 21px;
}

@media (min-width: 936px) {
  .category-slider {
    margin-bottom: 0;
  }
}

@media (min-width: 1400px) {
  .category-slider {
    max-width: 552px;
  }
}

@media (min-width: 1920px) {
  .category-slider {
    max-width: 602px;
  }
}

@media (min-width: 1100px) {
  .category-slider .swiper-button-prev {
    left: 50px;
  }
}

@media (min-width: 1100px) {
  .category-slider .swiper-button-next {
    right: 50px;
  }
}

.category-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category-img {
  display: none;
}

@media (min-width: 1100px) {
  .category-img {
    display: block;
    width: 80px;
  }
}

.category-item__up {
  font-family: SFProDisplay;
  font-weight: normal;
  font-size: 24px;
  line-height: 35px;
  color: #4576e6;
  margin-bottom: 9px;
}

.category-item__up span {
  color: #fe0199;
}

.category-item__who {
  margin-bottom: 28px;
}

@media (min-width: 1100px) {
  .category-item__who {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media (min-width: 1400px) {
  .category-item__who {
    margin-bottom: 29px;
  }
}

.category-item__who p {
  font-weight: 500;
  color: #333330;
  text-align: center;
  font-size: 22px;
  line-height: 30px;
}

@media (min-width: 1100px) {
  .category-item__who p {
    margin-right: 25px;
    margin-left: 25px;
  }
}

.category-item__list {
  margin-bottom: 14px;
}

@media (min-width: 1100px) {
  .category-item__list {
    margin-bottom: 60px;
  }
}

@media (min-width: 1400px) {
  .category-item__list {
    margin-bottom: 5px;
    min-height: 210px;
  }
}

.category-item__list li {
  font-size: 18px;
  line-height: 21px;
  color: #717171;
  position: relative;
  padding-left: 16px;
  margin-bottom: 21px;
}

.category-item__list li::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  width: 6px;
  height: 6px;
  background-color: #4e9ba6;
  border-radius: 50%;
}

.category-item__price {
  color: #333330;
  font-size: 18px;
  line-height: 35px;
}

.category-item__price span {
  color: #fe0199;
  font-size: 23px;
}

@media (min-width: 1100px) {
  .category-item__price {
    font-size: 24px;
  }
  .category-item__price span {
    font-size: 24px;
  }
}

.online-block {
  max-width: 450px;
  background: linear-gradient(270deg, #aed092 0%, rgba(174, 208, 146, 0.31) 100%);
  border-radius: 4px;
  padding: 11px;
  padding-bottom: 27px;
}

@media (min-width: 1100px) {
  .online-block {
    padding: 24px 32px;
  }
}

@media (min-width: 1400px) {
  .online-block {
    display: flex;
    padding-top: 42px;
    max-width: 1006px;
  }
}

@media (min-width: 1600px) {
  .online-block {
    max-width: 980px;
  }
}

@media (min-width: 1700px) {
  .online-block {
    max-width: 1006px;
  }
}

@media (min-width: 1600px) {
  .online-block {
    width: 100%;
    justify-content: space-between;
    padding-left: 118px;
  }
}

.category-form h3 {
  font: inherit;
  text-align: center;
  color: #4576e6;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 15px;
}

@media (min-width: 1400px) {
  .category-form h3 {
    display: none;
  }
}

.category-form__input {
  background: #ffffff;
  border-radius: 4px;
  width: 100%;
  height: 44px;
  border: none;
  padding-left: 54px;
  padding-right: 20px;
  margin-bottom: 14px;
}

@media (min-width: 1100px) {
  .category-form__input {
    margin-bottom: 24px;
    height: 52px;
  }
}

@media (min-width: 1400px) {
  .category-form__input {
    margin-bottom: 28px;
  }
}

.category-form label {
  position: relative;
  display: block;
}

.category-form label::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 15px;
  display: block;
  width: 24px;
  height: 24px;
  background-position: 0 0;
  background-repeat: no-repeat;
}

@media (min-width: 1400px) {
  .category-column-two {
    max-width: 445px;
  }
}

.category-form__label_man::before {
  background-image: url("../img/contact.png");
}

.category-form__label_phone::before {
  background-image: url("../img/phone-icon.png");
}

.selectric {
  background-color: #ffffff;
}

.category-form .selectric {
  height: 52px;
  margin-bottom: 14px;
  border-radius: 4px;
  border: none;
}

@media (min-width: 1100px) {
  .category-form .selectric {
    margin-bottom: 24px;
  }
}

@media (min-width: 1400px) {
  .category-form .selectric {
    margin-bottom: 28px;
  }
}

.category-form .label {
  color: #736f7b;
  font-size: 14px;
  line-height: 17px;
  height: 52px;
  display: flex;
  align-items: center;
  white-space: pre-wrap;
  padding-left: 15px;
}

.category-form .button {
  background-color: #fff;
  height: 52px;
  background-image: url("../img/expand-more.png");
  background-repeat: no-repeat;
  background-position: center;
}

.category-form .button::after {
  display: none;
}

.category-form__accept {
  color: #717171;
  font-family: HelveticaNeueCyr;
  font-size: 12px;
  line-height: 20px;
  width: 208px;
  margin: 0 auto;
  margin-top: 18px;
}

.category-form__accept a {
  border-bottom: 1px solid #717171;
}

@media (min-width: 1100px) {
  .category-form__accept {
    display: none;
  }
}

.feedback {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 30px;
}

@media (min-width: 1100px) {
  .feedback {
    margin-bottom: 38px;
  }
}

.feedback-inner {
  padding: 11px;
  padding-bottom: 27px;
  background: linear-gradient(270deg, #76cdce 0%, rgba(174, 208, 146, 0.31) 100%);
  border-radius: 4px;
  max-width: 450px;
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .feedback-inner {
    max-width: 900px;
    padding: 27px;
  }
}

@media (min-width: 1100px) {
  .feedback-inner {
    max-width: 1660px;
    display: flex;
    align-items: center;
  }
}

.feedback .selectric {
  background-color: #fff;
  max-width: 445px;
  height: 44px;
  border-radius: 4px;
  border: none;
  margin-bottom: 14px;
}

@media (min-width: 1100px) {
  .feedback .selectric {
    margin-bottom: 24px;
  }
}

@media (min-width: 1600px) {
  .feedback .selectric {
    max-width: none;
    width: 445px;
  }
}

.feedback .label {
  height: 44px;
  white-space: pre-wrap;
  line-height: 44px;
  font-size: 14px;
  color: #736f7b;
  line-height: 17px;
  padding-left: 15px;
  display: flex;
  align-items: center;
}

.feedback__label {
  position: relative;
  display: block;
}

.feedback__label::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 15px;
  width: 24px;
  height: 24px;
  background-position: 0 0;
  background-repeat: no-repeat;
}

@media (min-width: 768px) {
  .feedback__label {
    width: 360px;
  }
}

@media (min-width: 1600px) {
  .feedback__label {
    width: auto;
  }
}

.feedback__label_man::before {
  background-image: url("../img/contact.png");
}

.feedback__label_call::before {
  background-image: url("../img/phone-icon.png");
}

.feedback .button {
  background-color: #fff;
  height: 44px;
  background-image: url("../img/expand-more.png");
  background-repeat: no-repeat;
  background-position: center;
}

.feedback .button::after {
  display: none;
}

.feedback-column-one {
  display: none;
}

@media (min-width: 1100px) {
  .feedback-column-one {
    display: block;
    margin-right: 50px;
    margin-bottom: -30px;
  }
}

@media (min-width: 1400px) {
  .feedback-column-one {
    margin-right: 150px;
    position: relative;
  }
}

@media (min-width: 1600px) {
  .feedback-column-one {
    margin-right: 215px;
  }
}

@media (min-width: 1100px) {
  .feedback-img {
    margin-top: -56px;
  }
}

@media (min-width: 1600px) {
  .feedback-img {
    position: relative;
    left: 90px;
    margin-top: -60px;
  }
}

@media (min-width: 768px) {
  .feedback-block {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 1100px) {
  .feedback-block {
    justify-content: flex-start;
  }
}

.feedback-btn {
  max-width: 264px;
  margin: 0 auto;
  display: block;
  margin-bottom: 18px;
}

@media (min-width: 768px) {
  .feedback-btn {
    margin-bottom: 0;
    margin-right: 35px;
  }
}

@media (min-width: 1100px) {
  .feedback-btn {
    max-width: 385px;
    margin: 0;
    margin-right: 24px;
  }
}

@media (min-width: 1400px) {
  .feedback-btn {
    max-width: 415px;
  }
}

@media (min-width: 1600px) {
  .feedback-btn {
    max-width: 445px;
  }
}

.feedback-title {
  display: none;
}

@media (min-width: 1100px) {
  .feedback-title {
    display: block;
    color: #fe0151;
    font-weight: 500;
    font-size: 26px;
    line-height: 30px;
    margin-bottom: 43px;
  }
}

.feedback-title2 {
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #4576e6;
  margin-bottom: 13px;
}

@media (min-width: 1100px) {
  .feedback-title2 {
    display: none;
  }
}

.feedback__input {
  background: #ffffff;
  border-radius: 4px;
  font-size: 14px;
  line-height: 17px;
  color: #717171;
  height: 44px;
  max-width: 445px;
  width: 100%;
  border: none;
  margin-bottom: 14px;
  padding-left: 54px;
}

@media (min-width: 1100px) {
  .feedback__input {
    margin-bottom: 24px;
  }
}

@media (min-width: 1600px) {
  .feedback__input {
    max-width: none;
    width: 445px;
  }
}

.feedback-access {
  color: #717171;
  font-size: 12px;
  line-height: 20px;
  font-family: HelveticaNeueCyr;
  width: 208px;
  margin: 0 auto;
}

.feedback-access a {
  border-bottom: 1px solid #717171;
}

@media (min-width: 768px) {
  .feedback-access {
    width: 428px;
  }
}

@media (min-width: 768px) {
  .feedback-block-one {
    margin-right: 10px;
  }
}

@media (min-width: 1100px) {
  .feedback-block-one {
    margin-right: 24px;
  }
}

@media (min-width: 768px) {
  .feedback-bottom {
    display: flex;
    align-items: center;
  }
}

@media (min-width: 1100px) {
  .feedback-column-two {
    max-width: 914px;
  }
}

.feedback-time {
  display: none;
}

@media (min-width: 1400px) {
  .feedback-time {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    width: 134px;
    height: 134px;
    background: #73b041;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-weight: normal;
    position: absolute;
    top: 150px;
    right: -95px;
  }
}

@media (min-width: 1600px) {
  .feedback-time {
    right: -145px;
  }
}

.feedback-time .time {
  color: #fff;
  font-weight: bold;
}

.feedback-time .number {
  color: #fff;
  font-weight: bold;
  font-size: 28px;
  margin-top: 10px;
}

.selectric-items .selectric-scroll {
  background-color: #fff;
}

.selectric-items li {
  font-size: 14px;
  color: #736f7b;
  padding-left: 25px;
}

.centers {
  background-image: linear-gradient(180deg, rgba(255, 233, 215, 0.51) 0%, rgba(255, 226, 203, 0.54) 100%), url("../img/bg-centers2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 336px;
  padding-top: 47px;
  padding-right: 16px;
  padding-left: 16px;
  margin-bottom: 35px;
}

@media (min-width: 1100px) {
  .centers {
    height: 257px;
  }
}

.centers h2 {
  color: #fe0151;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  font-weight: 500;
  margin-bottom: 16px;
}

@media (min-width: 1100px) {
  .centers h2 {
    font-size: 26px;
    margin-bottom: 53px;
  }
}

.centers .button {
  background-color: #fff;
  height: 54px;
  background-image: url("../img/expand-more.png");
  background-repeat: no-repeat;
  background-position: center;
}

.centers .button::after {
  display: none;
}

.centers .selectric {
  border-radius: 0 4px 4px 0;
  border: none;
  width: 236px;
  height: 52px;
}

@media (min-width: 768px) {
  .centers .selectric {
    width: 368px;
  }
}

@media (min-width: 1100px) {
  .centers .selectric {
    width: 300px;
  }
}

@media (min-width: 1400px) {
  .centers .selectric {
    width: 368px;
  }
}

.centers .label {
  white-space: pre-wrap;
  font-size: 16px;
  color: #736f7b;
  line-height: 17px;
  padding-left: 54px;
  display: flex;
  align-items: center;
  line-height: 52px;
  height: 52px;
}

.centers-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 1100px) {
  .centers-list {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: 1400px) {
  .centers-list {
    width: 1330px;
    margin: 0 auto;
  }
}

.centers-list .centers-item {
  display: flex;
  margin-bottom: 18px;
  position: relative;
}

.centers-list img {
  position: absolute;
  top: 50%;
  left: 70px;
  transform: translateY(-50%);
  z-index: 10000;
}

.centers-list .number {
  background: #fe7c7a;
  border-radius: 4px 0px 0px 4px;
  font-weight: 500;
  font-size: 26px;
  color: #fff;
  height: 52px;
  width: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tooltip {
  display: none;
}

@media (min-width: 1100px) {
  .tooltip {
    position: absolute;
    bottom: 157px;
    right: 70px;
    width: 280px;
    padding-top: 10px;
    padding-left: 21px;
    padding-bottom: 20px;
    padding-right: 10px;
    font-size: 16px;
    line-height: 19px;
    background: #504b5a;
    border-radius: 4px;
    color: #fff;
  }
  .tooltip span:first-child {
    display: block;
    margin-bottom: 9px;
  }
  .tooltip::before {
    content: "";
    position: absolute;
    right: -19px;
    top: 50%;
    transform: translateY(-50%);
    border: 7px solid transparent;
    border-left: 12px solid #504b5a;
  }
}

.online-block-inner {
  order: -1;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .online-block-inner {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    align-items: center;
    padding-bottom: 0;
    max-width: 900px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
}

@media (min-width: 1100px) {
  .online-block-inner {
    padding-bottom: 20px;
  }
}

@media (min-width: 1280px) {
  .online-block-inner {
    margin-bottom: 0;
    margin-right: 15px;
  }
}

@media (min-width: 1600px) {
  .online-block-inner {
    margin: 0;
    max-width: 1006px;
    padding-left: 62px;
    padding-top: 24px;
    padding-right: 32px;
    padding-bottom: 24px;
  }
}

@media (min-width: 768px) {
  .online-block-inner .category-form__accept {
    display: none;
  }
}

@media (min-width: 768px) {
  .online-block-inner .online-column-two {
    width: 55%;
  }
}

@media (min-width: 1280px) {
  .online-block-inner .online-column-two {
    width: 50%;
  }
}

@media (min-width: 1600px) {
  .online-block-inner .online-column-two {
    width: auto;
  }
}

.online-block-inner .category-form__input {
  max-width: 445px;
}

.online-block-inner .selectric {
  max-width: 445px;
}

.online-block-inner .btn {
  max-width: 445px;
}

@media (min-width: 936px) {
  .category-slider-inner {
    margin: 0 auto;
  }
}

@media (min-width: 1600px) {
  .category-slider-inner {
    padding-bottom: 27px;
  }
}

.online-column-first {
  position: relative;
}

@media (min-width: 768px) {
  .online-column-first {
    width: 40%;
  }
}

@media (min-width: 1280px) {
  .online-column-first {
    width: 45%;
  }
}

@media (min-width: 1600px) {
  .online-column-first {
    width: 380px;
  }
}

.online-column-first h3 {
  color: #4576e6;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  margin-bottom: 18px;
}

@media (min-width: 1100px) {
  .online-column-first h3 {
    font-size: 24px;
    margin-bottom: 25px;
  }
  .online-column-first h3 br {
    display: none;
  }
}

.online-column-first .img {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  bottom: 0;
}

@media (min-width: 1600px) {
  .online-column-first .img {
    justify-content: flex-start;
  }
}

.special-time {
  width: 99px;
  height: 99px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 50%;
  text-align: center;
  background: #73b041;
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  position: absolute;
  top: 70px;
  right: 7px;
}

@media (min-width: 500px) {
  .special-time {
    right: 60px;
  }
}

@media (min-width: 768px) {
  .special-time {
    right: 10px;
  }
}

@media (min-width: 1100px) {
  .special-time {
    width: 134px;
    height: 134px;
    font-size: 16px;
    right: -27px;
    top: 130px;
  }
}

.special-time .number {
  font-size: 28px;
  font-weight: bold;
}

.special-time .time {
  color: #fff;
  font-weight: bold;
}

.important {
  margin-bottom: 19px;
}

.important span {
  color: #333330;
  font-size: 14px;
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}

.important p {
  font-size: 14px;
  line-height: 20px;
  color: #717171;
  padding-left: 46px;
  position: relative;
}

.important p::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  background-image: url("../img/girl.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  width: 32px;
  height: 40px;
}

@media (min-width: 1100px) {
  .important p {
    font-size: 15px;
  }
}

@media (min-width: 1280px) {
  .category-block-inner {
    flex-wrap: nowrap;
    flex-direction: row;
  }
}

@media (min-width: 1400px) {
  .category-block-inner {
    padding-bottom: 19px;
  }
}

@media (min-width: 1600px) {
  .category-block-inner .category-item__who {
    margin-bottom: 20px;
  }
}

@media (min-width: 1280px) {
  .category-block-inner .category-item__list {
    min-height: 210px;
  }
}

@media (min-width: 1600px) {
  .category-block-inner .category-item__list {
    min-height: 190px;
  }
  .category-block-inner .category-item__list li:last-child {
    margin-bottom: 0;
  }
}
